In [304]:
import nltk
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.compose import ColumnTransformer
from sklearn.experimental import enable_iterative_imputer
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.preprocessing import StandardScaler, RobustScaler, MinMaxScaler
from sklearn.feature_selection import RFE, RFECV, f_regression, chi2
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.experimental import enable_halving_search_cv
from sklearn.model_selection import GridSearchCV, KFold, RandomizedSearchCV, HalvingGridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.feature_selection import SelectKBest
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, recall_score, precision_score, f1_score, roc_auc_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB, BernoulliNB
from sklearn.preprocessing import PowerTransformer, QuantileTransformer
from mlxtend.feature_selection import SequentialFeatureSelector as SFS
from sklearn.neighbors import  KNeighborsClassifier
from datetime import datetime as dt
from sklearn.impute import SimpleImputer, KNNImputer, IterativeImputer
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import GradientBoostingClassifier, AdaBoostClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, LabelEncoder
from imblearn.combine import SMOTETomek
from collections import Counter
from mlxtend.feature_selection import ColumnSelector
import warnings
# Settings the warnings to be ignored
warnings.filterwarnings('ignore')

In [305]:
# Displaying all columns
pd.set_option('display.max_columns', None)

# #Display all data in columns
# pd.set_option("display.max_colwidth", None)

# np.set_printoptions(threshold=None, edgeitems=None, linewidth=None, suppress=None)
# pd.set_option("display.max_rows", None)
# pd.set_option("display.expand_frame_repr", True)
# pd.set_option('display.width', 1000)

In [306]:
#Storing Accuracy

data_accuracy = pd.DataFrame(columns=['Algo', 'Accuracy(KFold)', 'Test', 'Train', 'Recall', 'Precision', 'F1', 'ROC_AUC_SCORE'])
def store(data):
    data_accuracy.loc[len(data_accuracy.index)] = data
    data_accuracy.to_csv('loan_prediction_metric_scores.csv')
    print(data_accuracy)



def get_info_pipeline(pipe_name):
    sub_pipe = pipe_name[:-1]
    transformed_df = pd.DataFrame(
        data=sub_pipe.fit_transform(X_train, y_train),
        columns=sub_pipe.get_feature_names_out(),
    )
    print(transformed_df)

In [307]:
import spacy
nlp = spacy.load('en_core_web_sm')

In [308]:
df1 = pd.read_csv('tmdb_5000_credits.csv')
df2 = pd.read_csv('tmdb_5000_movies.csv')

In [309]:
df1.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [310]:
#Renaming the 'movie_id' col in df1 to 'id' of df2

In [311]:
df1.rename(columns = {'movie_id':'id'}, inplace = True)

In [312]:
df1.head(1)

,id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [313]:
#joining the credits amd movie dataframes

In [314]:
df2 = pd.merge(df1, df2, on='id')

In [315]:
df2.head(1)

,id,title_x,cast,crew,budget,genres,homepage,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title_y,vote_average,vote_count
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [316]:
#Drpping columns

In [317]:
df2.columns

Index(['id', 'title_x', 'cast', 'crew', 'budget', 'genres', 'homepage',
       'keywords', 'original_language', 'original_title', 'overview',
       'popularity', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'title_y', 'vote_average', 'vote_count'],
      dtype='object')

In [318]:
df2.drop(columns=['status', 'runtime'], axis=1, inplace=True)

In [319]:
df2.drop(columns=['title_x'], axis=1, inplace=True)

In [320]:
df2.head(1)

,id,cast,crew,budget,genres,homepage,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,spoken_languages,tagline,title_y,vote_average,vote_count
0,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Enter the World of Pandora.,Avatar,7.2,11800

In [321]:
df2.drop(columns=['title_y'], axis=1, inplace=True)

In [322]:
df2.shape

(4803, 19)

In [323]:
df2.head(1)

,id,cast,crew,budget,genres,homepage,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,spoken_languages,tagline,vote_average,vote_count
0,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Enter the World of Pandora.,7.2,11800

In [324]:
df2.drop(columns=['revenue', 'release_date'], axis=1, inplace=True)

In [325]:
df2.drop(columns=['budget', 'homepage', 'popularity', 'spoken_languages', 'production_countries', 'vote_average', 'vote_count'], axis=1, inplace=True)

In [326]:
df2.shape

(4803, 10)

In [327]:
df2.head(1)

,id,cast,crew,genres,keywords,original_language,original_title,overview,production_companies,tagline
0,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""name"": ""Ingenious Film Partners"", ""id"": 289...",Enter the World of Pandora.

In [328]:
df2.isnull().sum()

id                        0
cast                      0
crew                      0
genres                    0
keywords                  0
original_language         0
original_title            0
overview                  3
production_companies      0
tagline                 844
dtype: int64

In [329]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    4803 non-null   int64
 1   cast                  4803 non-null   object
 2   crew                  4803 non-null   object
 3   genres                4803 non-null   object
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   production_companies  4803 non-null   object
 9   tagline               3959 non-null   object
dtypes: int64(1), object(9)
memory usage: 412.8+ KB

In [330]:
df2.drop(columns='production_companies', axis=1, inplace=True)

In [331]:
df2.head(1)

,id,cast,crew,genres,keywords,original_language,original_title,overview,tagline
0,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.

In [332]:
df2.shape

(4803, 9)

In [333]:
#Dropping null rows

In [334]:
df2.isnull().sum()

id                     0
cast                   0
crew                   0
genres                 0
keywords               0
original_language      0
original_title         0
overview               3
tagline              844
dtype: int64

In [335]:
df2.drop(columns='tagline', axis=1, inplace=True)

In [336]:
df2.dropna(inplace=True)

In [337]:
df2.head(1)

,id,cast,crew,genres,keywords,original_language,original_title,overview
0,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di..."

In [338]:
df2.isnull().sum()

id                   0
cast                 0
crew                 0
genres               0
keywords             0
original_language    0
original_title       0
overview             0
dtype: int64

In [339]:
#Preprocessing

In [340]:
##Genre

In [341]:
df2.iloc[0, 3]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [342]:
import ast

In [343]:
def fetch_genres(string):
    ls = []
    for i in  ast.literal_eval(string):
        ls.append(i['name'])
    return ls

In [344]:
df2['genres'] = df2['genres'].apply(fetch_genres)

In [345]:
df2.head(1)

,id,cast,crew,genres,keywords,original_language,original_title,overview
0,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di..."

In [346]:
df2.iloc[3, 3]

['Action', 'Crime', 'Drama', 'Thriller']

In [347]:
##Crew

In [348]:
def fetch_dir_and_prod(string):
    ls = []
    for i in  ast.literal_eval(string):
        if i['job']=='Director':
            ls.append(i['name'])
            break
    return ls

In [349]:
df2.head(1)

,id,cast,crew,genres,keywords,original_language,original_title,overview
0,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di..."

In [350]:
msg = " "
msg = df2.loc[4].crew

In [351]:
msg

'[{"credit_id": "52fe479ac3a36847f813eaa3", "department": "Writing", "gender": 2, "id": 7, "job": "Screenplay", "name": "Andrew Stanton"}, {"credit_id": "52fe479ac3a36847f813ea65", "department": "Directing", "gender": 2, "id": 7, "job": "Director", "name": "Andrew Stanton"}, {"credit_id": "58c69e819251411d30017673", "department": "Crew", "gender": 2, "id": 7879, "job": "Thanks", "name": "John Lasseter"}, {"credit_id": "52fe479ac3a36847f813eac5", "department": "Production", "gender": 2, "id": 490, "job": "Producer", "name": "Colin Wilson"}, {"credit_id": "58c68f2b9251411d30016cf2", "department": "Production", "gender": 2, "id": 2073, "job": "Casting", "name": "Gail Stevens"}, {"credit_id": "58c68ef19251411d62016ec3", "department": "Sound", "gender": 2, "id": 3996, "job": "Sound Re-Recording Mixer", "name": "Tom Johnson"}, {"credit_id": "52fe479ac3a36847f813ead7", "department": "Editing", "gender": 2, "id": 6958, "job": "Editor", "name": "Eric Zumbrunnen"}, {"credit_id": "58c69a9ec3a36840b801738e", "department": "Editing", "gender": 0, "id": 8158, "job": "Dialogue Editor", "name": "Michael Silvers"}, {"credit_id": "58c68f1ec3a368413b015877", "department": "Sound", "gender": 0, "id": 8166, "job": "Sound Re-Recording Mixer", "name": "Juan Peralta"}, {"credit_id": "58c69340c3a36841200154c9", "department": "Costume & Make-Up", "gender": 0, "id": 8412, "job": "Key Makeup Artist", "name": "Paul Gooch"}, {"credit_id": "58c69cc0c3a368413001574a", "department": "Art", "gender": 0, "id": 12039, "job": "Set Decoration", "name": "Paki Smith"}, {"credit_id": "58c69e9e9251411d11017c02", "department": "Crew", "gender": 0, "id": 12895, "job": "Thanks", "name": "Ed Catmull"}, {"credit_id": "58c689079251411d19017350", "department": "Crew", "gender": 2, "id": 12897, "job": "In Memory Of", "name": "Steve Jobs"}, {"credit_id": "56abe29d9251417e22003953", "department": "Costume & Make-Up", "gender": 2, "id": 15017, "job": "Makeup Designer", "name": "Bill Corso"}, {"credit_id": "58c691fc9251411d30016e75", "department": "Art", "gender": 2, "id": 14762, "job": "Art Direction", "name": "Robert Woodruff"}, {"credit_id": "52fe479ac3a36847f813eae3", "department": "Art", "gender": 2, "id": 15327, "job": "Production Design", "name": "Nathan Crowley"}, {"credit_id": "58c6888bc3a36840f6014f95", "department": "Sound", "gender": 2, "id": 15347, "job": "Music", "name": "Michael Giacchino"}, {"credit_id": "52fe479ac3a36847f813ead1", "department": "Camera", "gender": 0, "id": 15348, "job": "Director of Photography", "name": "Daniel Mindel"}, {"credit_id": "58c69adcc3a36840f6015b94", "department": "Sound", "gender": 2, "id": 15354, "job": "Music Editor", "name": "Stephen M. Davis"}, {"credit_id": "58c69227c3a36840f60155d7", "department": "Art", "gender": 2, "id": 34513, "job": "Art Direction", "name": "John King"}, {"credit_id": "52fe479ac3a36847f813eafb", "department": "Costume & Make-Up", "gender": 0, "id": 17675, "job": "Costume Design", "name": "Mayes C. Rubeo"}, {"credit_id": "570b939092514111f20029c9", "department": "Art", "gender": 0, "id": 17677, "job": "Supervising Art Director", "name": "Naaman Marshall"}, {"credit_id": "58c69203c3a36841140150c8", "department": "Art", "gender": 0, "id": 18925, "job": "Art Direction", "name": "Scott Zuber"}, {"credit_id": "58c6905bc3a3684128014f17", "department": "Art", "gender": 2, "id": 23454, "job": "Art Direction", "name": "Phil Harvey"}, {"credit_id": "58c69aedc3a36841140156e9", "department": "Sound", "gender": 0, "id": 28241, "job": "Orchestrator", "name": "Tim Simonec"}, {"credit_id": "58c69811c3a368410c0160b1", "department": "Costume & Make-Up", "gender": 0, "id": 29233, "job": "Makeup Artist", "name": "Veronica McAleer"}, {"credit_id": "52fe479ac3a36847f813eb07", "department": "Writing", "gender": 2, "id": 15776, "job": "Original Story", "name": "Edgar Rice Burroughs"}, {"credit_id": "52fe479ac3a36847f813eadd", "department": "Production", "gender": 1, "id": 51557, "job": "Casting", "name": "Marcia Ross"}, {"credit_id": "58c69f12c3a36841140159a5", "department": "Crew", "gender": 2, "id": 39624, "job": "Thanks", "name": "Peter Gabriel"}, {"credit_id": "58c6937f9251411d30016f5f", "department": "Costume & Make-Up", "gender": 0, "id": 61996, "job": "Key Makeup Artist", "name": "Christien Tinsley"}, {"credit_id": "58c69acb9251411d19017f73", "department": "Production", "gender": 0, "id": 64449, "job": "ADR Voice Casting", "name": "Holly Dorff"}, {"credit_id": "52fe479ac3a36847f813eabf", "department": "Production", "gender": 0, "id": 72752, "job": "Producer", "name": "Jim Morris"}, {"credit_id": "52fe479ac3a36847f813eab9", "department": "Production", "gender": 0, "id": 72753, "job": "Producer", "name": "Lindsey Collins"}, {"credit_id": "52fe479ac3a36847f813eaaf", "department": "Writing", "gender": 2, "id": 67758, "job": "Screenplay", "name": "Michael Chabon"}, {"credit_id": "58c68a499251411d55016dd5", "department": "Production", "gender": 0, "id": 91055, "job": "Unit Production Manager", "name": "Jan Foster"}, {"credit_id": "58c699509251411d550177c7", "department": "Camera", "gender": 0, "id": 91912, "job": "Camera Operator", "name": "John Skotchdopole"}, {"credit_id": "58c6995cc3a368412001591e", "department": "Sound", "gender": 2, "id": 105780, "job": "Sound Mixer", "name": "Chris Munro"}, {"credit_id": "58c6884e9251411d15016de7", "department": "Visual Effects", "gender": 0, "id": 122274, "job": "Visual Effects Supervisor", "name": "Peter Chiang"}, {"credit_id": "52fe479ac3a36847f813eaa9", "department": "Writing", "gender": 2, "id": 126638, "job": "Screenplay", "name": "Mark Andrews"}, {"credit_id": "58c68ed79251411d62016eb2", "department": "Sound", "gender": 0, "id": 138617, "job": "Supervising Sound Editor", "name": "Jonathan Null"}, {"credit_id": "58c69c9a9251411d6201776e", "department": "Production", "gender": 2, "id": 238120, "job": "Casting Associate", "name": "Colin Jones"}, {"credit_id": "52fe479ac3a36847f813eb13", "department": "Costume & Make-Up", "gender": 1, "id": 406204, "job": "Makeup Department Head", "name": "Ve Neill"}, {"credit_id": "58c69b249251411d0d018598", "department": "Production", "gender": 1, "id": 528783, "job": "Casting Associate", "name": "Brittainy Roberts"}, {"credit_id": "58c698c9c3a36840b8017245", "department": "Costume & Make-Up", "gender": 0, "id": 967148, "job": "Assistant Costume Designer", "name": "Jeremy Turner"}, {"credit_id": "58c691f5c3a36841200153f6", "department": "Art", "gender": 2, "id": 969743, "job": "Art Direction", "name": "Dean Wolcott"}, {"credit_id": "58c69032c3a36841200152fe", "department": "Art", "gender": 2, "id": 986687, "job": "Art Direction", "name": "Mark Harris"}, {"credit_id": "570b9382c3a368779600816a", "department": "Art", "gender": 0, "id": 1034754, "job": "Supervising Art Director", "name": "James Hambidge"}, {"credit_id": "52fe479ac3a36847f813eb01", "department": "Crew", "gender": 0, "id": 1034755, "job": "Post Production Supervisor", "name": "Lori Korngiebel"}, {"credit_id": "58c692ffc3a3684114015167", "department": "Art", "gender": 0, "id": 1055222, "job": "Storyboard Designer", "name": "David Krentz"}, {"credit_id": "58c68e719251411d19017745", "department": "Visual Effects", "gender": 0, "id": 1081073, "job": "Special Effects Supervisor", "name": "Chris Corbould"}, {"credit_id": "58c698bec3a368411401553a", "department": "Costume & Make-Up", "gender": 1, "id": 1121742, "job": "Assistant Costume Designer", "name": "Colleen Kelsall"}, {"credit_id": "58c68e2e9251411d47017e8a", "department": "Production", "gender": 0, "id": 1123360, "job": "Associate Producer", "name": "Bob Roath"}, {"credit_id": "58c692629251411d620170a7", "department": "Art", "gender": 0, "id": 1171098, "job": "Set Designer", "name": "Darrell L. Wight"}, {"credit_id": "58c692f9c3a36840b8016e22", "department": "Art", "gender": 0, "id": 1218986, "job": "Storyboard Designer", "name": "Bryan Andrews"}, {"credit_id": "58c6941f9251411d110174ca", "department": "Costume & Make-Up", "gender": 0, "id": 1316599, "job": "Makeup Artist", "name": "Dennis Liddiard"}, {"credit_id": "58c6943a9251411d0d01804a", "department": "Costume & Make-Up", "gender": 0, "id": 1319490, "job": "Makeup Artist", "name": "Kevin Haney"}, {"credit_id": "58c69244c3a368413b015a23", "department": "Art", "gender": 0, "id": 1334782, "job": "Assistant Art Director", "name": "Josh Lusby"}, {"credit_id": "58c69ccec3a36841280156f6", "department": "Art", "gender": 0, "id": 1335553, "job": "Property Master", "name": "Jamie Wilkinson"}, {"credit_id": "58c69f219251411d190182a8", "department": "Crew", "gender": 0, "id": 1339450, "job": "Thanks", "name": "Roger Guyett"}, {"credit_id": "58c69dc79251411d1901819d", "department": "Crew", "gender": 0, "id": 1357070, "job": "Transportation Coordinator", "name": "Denny Caira"}, {"credit_id": "58c688709251411d3001684b", "department": "Visual Effects", "gender": 0, "id": 1367497, "job": "Visual Effects Supervisor", "name": "Sue Rowe"}, {"credit_id": "58c69ca79251411d11017a77", "department": "Production", "gender": 0, "id": 1374469, "job": "Casting Assistant", "name": "Toby Spigel"}, {"credit_id": "58c69aa59251411d11017919", "department": "Editing", "gender": 0, "id": 1376901, "job": "Dialogue Editor", "name": "Marshall Winn"}, {"credit_id": "58c68ee9c3a3684128014e36", "department": "Sound", "gender": 0, "id": 1378828, "job": "Sound Re-Recording Mixer", "name": "Michael Semanick"}, {"credit_id": "58c692389251411d30016ea2", "department": "Art", "gender": 0, "id": 1388850, "job": "Assistant Art Director", "name": "Peter Dorme"}, {"credit_id": "58c69cf49251411d4701890b", "department": "Lighting", "gender": 0, "id": 1390367, "job": "Gaffer", "name": "Perry Evans"}, {"credit_id": "58c699f4c3a368413b015f45", "department": "Directing", "gender": 0, "id": 1390388, "job": "Script Supervisor", "name": "Annie Penn"}, {"credit_id": "58c69a7ac3a368410c016254", "department": "Sound", "gender": 0, "id": 1394129, "job": "Sound Designer", "name": "Tim Nielsen"}, {"credit_id": "58c68edec3a3684114014f16", "department": "Sound", "gender": 0, "id": 1394129, "job": "Supervising Sound Editor", "name": "Tim Nielsen"}, {"credit_id": "58c6928f9251411d55017337", "department": "Art", "gender": 0, "id": 1395430, "job": "Art Department Coordinator", "name": "Jenne Lee"}, {"credit_id": "58c6925b9251411d150174df", "department": "Art", "gender": 0, "id": 1395435, "job": "Set Designer", "name": "Theodore Sharps"}, {"credit_id": "58c691c4c3a36840f6015583", "department": "Art", "gender": 0, "id": 1397837, "job": "Art Direction", "name": "Joseph Hodges"}, {"credit_id": "58c699489251411d300172de", "department": "Camera", "gender": 0, "id": 1399467, "job": "Camera Operator", "name": "Philippe Carr-Forster"}, {"credit_id": "58c69cfdc3a368413b016165", "department": "Lighting", "gender": 0, "id": 1399475, "job": "Gaffer", "name": "Christopher Prampin"}, {"credit_id": "58c69920c3a36841300154e2", "department": "Camera", "gender": 0, "id": 1400535, "job": "Camera Operator", "name": "Colin Anderson"}, {"credit_id": "58c699259251411d620174e9", "department": "Camera", "gender": 0, "id": 1400535, "job": "Steadicam Operator", "name": "Colin Anderson"}, {"credit_id": "58c699ebc3a368411401561c", "department": "Production", "gender": 0, "id": 1401784, "job": "Production Supervisor", "name": "Jennifer Teves"}, {"credit_id": "58c6935ec3a368413b015ae4", "department": "Costume & Make-Up", "gender": 0, "id": 1403388, "job": "Key Makeup Artist", "name": "Kim Ayers"}, {"credit_id": "58c68e49c3a368413b0157eb", "department": "Visual Effects", "gender": 0, "id": 1408379, "job": "Visual Effects Producer", "name": "Daniel Barrow"}, {"credit_id": "58c6936fc3a368413b015aed", "department": "Costume & Make-Up", "gender": 0, "id": 1409757, "job": "Key Makeup Artist", "name": "Debbi Salmon"}, {"credit_id": "58c69339c3a36841200154c4", "department": "Costume & Make-Up", "gender": 0, "id": 1411320, "job": "Key Makeup Artist", "name": "Paula Price"}, {"credit_id": "58c69dba9251411d0d018767", "department": "Camera", "gender": 0, "id": 1412205, "job": "Still Photographer", "name": "Frank Connor"}, {"credit_id": "58c69a89c3a3684114015691", "department": "Sound", "gender": 0, "id": 1414177, "job": "Sound Effects Editor", "name": "J.R. Grubbs"}, {"credit_id": "58c69452c3a36840f6015741", "department": "Costume & Make-Up", "gender": 0, "id": 1414539, "job": "Makeup Artist", "name": "Deborah Rutherford"}, {"credit_id": "58c6946c9251411d15017617", "department": "Costume & Make-Up", "gender": 0, "id": 1414540, "job": "Makeup Artist", "name": "Don Rutherford"}, {"credit_id": "58c69a929251411d11017907", "department": "Sound", "gender": 0, "id": 1415464, "job": "Sound Effects Editor", "name": "Malcolm Fife"}, {"credit_id": "58c6923e9251411d11017382", "department": "Art", "gender": 0, "id": 1417396, "job": "Assistant Art Director", "name": "Toby Britton"}, {"credit_id": "58c69866c3a368413001545d", "department": "Costume & Make-Up", "gender": 0, "id": 1418124, "job": "Hair Designer", "name": "Kevin Alexander"}, {"credit_id": "58c693779251411d470181e4", "department": "Costume & Make-Up", "gender": 0, "id": 1421936, "job": "Key Makeup Artist", "name": "Kristie Matthiae"}, {"credit_id": "58c694a99251411d15017646", "department": "Costume & Make-Up", "gender": 0, "id": 1424151, "job": "Makeup Artist", "name": "Gerald Quist"}, {"credit_id": "58c693f39251411d110174a9", "department": "Costume & Make-Up", "gender": 0, "id": 1425411, "job": "Makeup Artist", "name": "Nuria Mbomio"}, {"credit_id": "58c68866c3a368413b015367", "department": "Visual Effects", "gender": 0, "id": 1428901, "job": "Animation Supervisor", "name": "Eamonn Butler"}, {"credit_id": "58c68ec89251411d11017191", "department": "Crew", "gender": 0, "id": 1428905, "job": "Visual Effects Editor", "name": "Laura Jennings"}, {"credit_id": "58c693919251411d0d017fde", "department": "Costume & Make-Up", "gender": 0, "id": 1428911, "job": "Makeup Artist", "name": "Ailbhe Lemass"}, {"credit_id": "58c6992f9251411d19017e49", "department": "Camera", "gender": 0, "id": 1430188, "job": "Camera Operator", "name": "Simon Finney"}, {"credit_id": "58c6948b9251411d15017628", "department": "Costume & Make-Up", "gender": 0, "id": 1441176, "job": "Makeup Artist", "name": "Eryn Krueger Mekash"}, {"credit_id": "58c692ddc3a368413b015a8d", "department": "Art", "gender": 0, "id": 1447571, "job": "Art Department Assistant", "name": "Travis Witkowski"}, {"credit_id": "58c694809251411d15017622", "department": "Costume & Make-Up", "gender": 0, "id": 1458894, "job": "Makeup Artist", "name": "Mike Mekash"}, {"credit_id": "58c6940e9251411d19017aad", "department": "Costume & Make-Up", "gender": 0, "id": 1530220, "job": "Makeup Artist", "name": "Kirstin Chalmers"}, {"credit_id": "58c698e89251411d5501777a", "department": "Costume & Make-Up", "gender": 0, "id": 1532325, "job": "Key Costumer", "name": "Kacie Seamons"}, {"credit_id": "58c693b39251411d30016f78", "department": "Costume & Make-Up", "gender": 0, "id": 1536539, "job": "Makeup Artist", "name": "Deborah Taylor"}, {"credit_id": "58c68e84c3a36840f60153a1", "department": "Crew", "gender": 0, "id": 1546844, "job": "Visual Effects Art Director", "name": "Ryan Church"}, {"credit_id": "58c693659251411d550173be", "department": "Costume & Make-Up", "gender": 0, "id": 1549655, "job": "Key Makeup Artist", "name": "Camille Henderson"}, {"credit_id": "58c68fd29251411d30016d3f", "department": "Crew", "gender": 0, "id": 1550851, "job": "Stunt Coordinator", "name": "Tom Struthers"}, {"credit_id": "58c692bfc3a36840b8016df9", "department": "Art", "gender": 0, "id": 1551810, "job": "Art Department Assistant", "name": "Liam Georgensen"}, {"credit_id": "58c692869251411d30016ed9", "department": "Art", "gender": 0, "id": 1561994, "job": "Art Department Coordinator", "name": "Lavinia Waters"}, {"credit_id": "58c697f89251411d30017205", "department": "Costume & Make-Up", "gender": 0, "id": 1613336, "job": "Makeup Artist", "name": "Greg T. Moon"}, {"credit_id": "58c69a07c3a36841200159ae", "department": "Production", "gender": 0, "id": 1640350, "job": "Production Coordinator", "name": "Richard Daldry"}, {"credit_id": "58c69979c3a368413b015eef", "department": "Sound", "gender": 2, "id": 1658269, "job": "Boom Operator", "name": "Stephen Finn"}, {"credit_id": "58c692e4c3a36840f601564a", "department": "Art", "gender": 0, "id": 1661321, "job": "Art Department Assistant", "name": "Tom Castronovo"}, {"credit_id": "58c69dadc3a36841280157a4", "department": "Crew", "gender": 0, "id": 1686002, "job": "Unit Publicist", "name": "Katherine McCormack"}, {"credit_id": "58c689439251411d15016ed6", "department": "Production", "gender": 0, "id": 1697623, "job": "Unit Production Manager", "name": "Steve Harding"}, {"credit_id": "58c68ebdc3a3684128014e11", "department": "Editing", "gender": 0, "id": 1710258, "job": "Additional Editing", "name": "Erik Jessen"}, {"credit_id": "58c689739251411d47017af1", "department": "Directing", "gender": 0, "id": 1750922, "job": "First Assistant Director", "name": "Tommy Gormley"}, {"credit_id": "58c692c7c3a36841300150c2", "department": "Art", "gender": 0, "id": 1761112, "job": "Art Department Assistant", "name": "Sarah Ginn"}, {"credit_id": "58c689aa9251411d55016d59", "department": "Directing", "gender": 0, "id": 1775681, "job": "Second Assistant Director", "name": "Ben Dixon"}, {"credit_id": "58c68a859251411d1901746d", "department": "Directing", "gender": 2, "id": 1775682, "job": "Second Assistant Director", "name": "Andrew M. Ward"}, {"credit_id": "58c692a4c3a368413b015a64", "department": "Art", "gender": 0, "id": 1775687, "job": "Art Department Coordinator", "name": "Stacey Newton"}, {"credit_id": "58c692b6c3a368412001546d", "department": "Art", "gender": 0, "id": 1775688, "job": "Art Department Assistant", "name": "Rachel Corbould"}, {"credit_id": "58c692d4c3a368413b015a88", "department": "Art", "gender": 0, "id": 1775689, "job": "Art Department Assistant", "name": "Jake Hall"}, {"credit_id": "58c693589251411d0d017fb3", "department": "Costume & Make-Up", "gender": 0, "id": 1775690, "job": "Key Makeup Artist", "name": "Gemma Richards"}, {"credit_id": "58c693fe9251411d55017423", "department": "Costume & Make-Up", "gender": 0, "id": 1775691, "job": "Makeup Artist", "name": "Sara Riesel"}, {"credit_id": "58c69407c3a368413b015b42", "department": "Costume & Make-Up", "gender": 0, "id": 1775692, "job": "Makeup Artist", "name": "Paul Boyce"}, {"credit_id": "58c694189251411d19017ab6", "department": "Costume & Make-Up", "gender": 0, "id": 1775693, "job": "Makeup Artist", "name": "Mandy Gold"}, {"credit_id": "58c698989251411d0d01836e", "department": "Costume & Make-Up", "gender": 0, "id": 1775701, "job": "Hairstylist", "name": "Candice Banks"}, {"credit_id": "58c698a59251411d19017de5", "department": "Costume & Make-Up", "gender": 0, "id": 1775702, "job": "Hairstylist", "name": "Gary Machin"}, {"credit_id": "58c69994c3a36840b80172dd", "department": "Sound", "gender": 0, "id": 1775704, "job": "Boom Operator", "name": "Noel Espinosa"}, {"credit_id": "58c69a309251411d110178c9", "department": "Production", "gender": 0, "id": 1775707, "job": "Production Coordinator", "name": "Meredith Humbracht"}, {"credit_id": "58c69d39c3a368410c0163fd", "department": "Camera", "gender": 0, "id": 1775718, "job": "Key Grip", "name": "Gary Hymns"}, {"credit_id": "58c69da6c3a368413b01620f", "department": "Camera", "gender": 0, "id": 1775721, "job": "Key Grip", "name": "Thomas Gibson"}, {"credit_id": "58c69ec49251411d55017be6", "department": "Crew", "gender": 0, "id": 1775723, "job": "Thanks", "name": "Danton Burroughs"}, {"credit_id": "591264bac3a368646b04fda5", "department": "Crew", "gender": 1, "id": 1813644, "job": "Stunts", "name": "Karin Silvestri"}]'

In [352]:
import ast
msg = ast.literal_eval(msg)

In [353]:
for i in msg:
    if i['job']=='Director':
        print(i['name'])
        break

Andrew Stanton

In [354]:
df2['crew'] = df2['crew'].apply(fetch_dir_and_prod)

In [355]:
df2.head(1)

,id,cast,crew,genres,keywords,original_language,original_title,overview
0,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...",[James Cameron],"[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di..."

In [356]:
##keywords

In [357]:
msg = df2.iloc[0, 4]

In [358]:
msg

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [359]:
def fetch_keyowrds(string):
    ls = []
    for i in  ast.literal_eval(string):
        ls.append(i['name'])
            
    return ls

In [360]:
fetch_keyowrds(msg)

['culture clash',
 'future',
 'space war',
 'space colony',
 'society',
 'space travel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alien planet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'love affair',
 'anti war',
 'power relations',
 'mind and soul',
 '3d']

In [361]:
df2['keywords'] = df2['keywords'].apply(fetch_genres)

In [362]:
df2.head(1)

,id,cast,crew,genres,keywords,original_language,original_title,overview
0,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...",[James Cameron],"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",en,Avatar,"In the 22nd century, a paraplegic Marine is di..."

In [363]:
##cast (first 3)

In [364]:
msg = df2.iloc[0, 1]

In [365]:
msg

'[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, {"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", "gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": 11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", "gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, "character": "Tsu\'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": 2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, "character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", "gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": 13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", "gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": 32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", "gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, {"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": "52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, "name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": 986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": "Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": 1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, "character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", "gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, {"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": "52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, "name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": 173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, "character": "Dragon Gunship Gunner", "credit_id": "52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": 215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": "Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": 143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, "character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": 2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, "character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", "gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": 47, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", "credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": "Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", "credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": "Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": 1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, "character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", "gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": 52, "character": "Na\'vi Child", "credit_id": "52fe48009251416c750acaa7", "gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": 53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", "gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, {"cast_id": 54, "character": "Troupe", "credit_id": "52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": "52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": "52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": "52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": "52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": "52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": "52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", "credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": "Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", "credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": "Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", "credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": "Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", "credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": "Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": 1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, "id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", "gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": 68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", "gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, {"cast_id": 69, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", "credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": "Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": "James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", "credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": "Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": "Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": 1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, "character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, "id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, "character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, "id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, "character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, "id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, "character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, "id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, "character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, "id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, "character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, "id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, "character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, "id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, "character": "Mining Chief (uncredited)", "credit_id": "52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner (uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": 107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": "Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": 0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, "character": "Nav\'i (uncredited)", "credit_id": "52fe48019251416c750acb27", "gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, {"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": 1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": "Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", "gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, {"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", "credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": "Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", "credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": "Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": 1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, "character": "Banshee (uncredited)", "credit_id": "52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", "credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": "Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician (uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": 1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": "Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", "gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, {"cast_id": 94, "character": "Hero (uncredited)", "credit_id": "52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", "order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", "credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": "Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer (uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": 1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": "Col. Quaritch\'s Mech Suit (uncredited)", "credit_id": "52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", "order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", "credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": "Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, "id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, "character": "Geologist (uncredited)", "credit_id": "52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard Whiteside", "order": 80}, {"cast_id": 101, "character": "Na\'vi (uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": 103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", "gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]'

In [366]:
def fetch_crew_first_three(string):
    ls = []
    cnt = 3
    for i in  ast.literal_eval(string):
        if cnt==0:
            break
        else:
            ls.append(i['name'])
        cnt=cnt-1
    return ls

In [367]:
msg

'[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, {"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", "gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": 11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", "gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, "character": "Tsu\'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": 2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, "character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", "gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": 13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", "gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": 32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", "gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, {"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": "52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, "name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": 986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": "Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": 1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, "character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", "gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, {"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": "52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, "name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": 173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, "character": "Dragon Gunship Gunner", "credit_id": "52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": 215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": "Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": 143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, "character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": 2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, "character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", "gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": 47, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", "credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": "Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", "credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": "Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": 1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, "character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", "gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": 52, "character": "Na\'vi Child", "credit_id": "52fe48009251416c750acaa7", "gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": 53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", "gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, {"cast_id": 54, "character": "Troupe", "credit_id": "52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": "52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": "52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": "52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": "52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": "52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": "52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", "credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": "Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", "credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": "Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", "credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": "Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", "credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": "Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": 1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, "id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", "gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": 68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", "gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, {"cast_id": 69, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", "credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": "Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": "James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", "credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": "Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": "Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": 1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, "character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, "id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, "character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, "id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, "character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, "id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, "character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, "id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, "character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, "id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, "character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, "id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, "character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, "id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, "character": "Mining Chief (uncredited)", "credit_id": "52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner (uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": 107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": "Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": 0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, "character": "Nav\'i (uncredited)", "credit_id": "52fe48019251416c750acb27", "gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, {"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": 1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": "Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", "gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, {"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", "credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": "Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", "credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": "Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": 1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, "character": "Banshee (uncredited)", "credit_id": "52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", "credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": "Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician (uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": 1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": "Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", "gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, {"cast_id": 94, "character": "Hero (uncredited)", "credit_id": "52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", "order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", "credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": "Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer (uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": 1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": "Col. Quaritch\'s Mech Suit (uncredited)", "credit_id": "52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", "order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", "credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": "Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, "id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, "character": "Geologist (uncredited)", "credit_id": "52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard Whiteside", "order": 80}, {"cast_id": 101, "character": "Na\'vi (uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": 103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", "gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]'

In [368]:
fetch_crew_first_three(msg)

['Sam Worthington', 'Zoe Saldana', 'Sigourney Weaver']

In [369]:
df2['cast'] = df2['cast'].apply(fetch_crew_first_three)

In [370]:
df2.head(1)

,id,cast,crew,genres,keywords,original_language,original_title,overview
0,19995,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",en,Avatar,"In the 22nd century, a paraplegic Marine is di..."

In [371]:
df2.rename(columns = {'crew':'director'}, inplace = True)

In [372]:
df2.head(1)

,id,cast,director,genres,keywords,original_language,original_title,overview
0,19995,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",en,Avatar,"In the 22nd century, a paraplegic Marine is di..."

In [373]:
#Preprocessing 'overview' column

#Lowercasing

df2['overview'] = df2['overview'].str.lower()


# Removing HTML tags

import re

def remove_html(text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'', text)

df2['overview'] = df2['overview'].apply(remove_html)
# print(df.head())


#Remove @

def remove_at_the_rate(text):

  ls = []
  new = []

  ls = nlp(text)

  for word in ls:
        if word.text != "@":
            new.append(word.text)

  return ' '.join(new)

df2['overview'] = df2['overview'].apply(remove_at_the_rate)



#Removing URL

import re

def remove_url(text):
    pattern = re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub(r'', text)

df2['overview'] = df2['overview'].apply(remove_url)
# print(df.head())


#Remmove punctuation

import string

punc = string.punctuation

def  remove_punc(text):

    return text.translate(str.maketrans('', '', punc))

df2['overview'] = df2['overview'].apply(remove_punc)


#Correcting spelling

# from textblob import TextBlob

# def spell_check(text):

#     textblb = TextBlob(text)
#     return textblb.correct().string

# X['remainder__text'] = X['remainder__text'].apply(spell_check)


from autocorrect import Speller

check = Speller()

def check_spell(text):

  return check(text)

df2['overview'] = df2['overview'].apply(check_spell)


# Removing stop words


from nltk.corpus import stopwords

stopwords = stopwords.words('english')

def remove_stop_words(text):
    ls = []
    new = []

    ls = nlp(text)

    for word in ls:
        if word.text not in stopwords:

            new.append(word.text)

    return ' '.join(new)

df2['overview'] = df2['overview'].apply(remove_stop_words)


#Removing Contradictions

import contractions

def remove_contradictions(text):

  return " ".join([contractions.fix(word.text) for word in nlp(text)])

df2['overview'] = df2['overview'].apply(remove_contradictions)


# #Lemmetization

# from nltk.stem.wordnet import WordNetLemmatizer

# lemmatizer = WordNetLemmatizer()

def Lemmetization(text):

  return " ".join([word.lemma_ for word in nlp(text)])


# #Stemming

# from nltk.stem.porter import PorterStemmer

# ps = PorterStemmer()
# def stemming(text):

#     return " ".join([ps.stem(word.text) for word in nlp(text)])

df2['overview'] = df2['overview'].apply(Lemmetization)

In [374]:
#Tokenization of overview column

In [375]:
# from nltk.tokenize import sent_tokenize, word_tokenize

# def token_nlp(string):
#     ls = []
#     # doc1 = nlp(string)
#     doc1 = word_tokenize(string)
#     ls.append(doc1)
#     return ls

In [376]:
# df2['overview'] = df2['overview'].apply(token_nlp)

In [377]:
df2.iloc[0, 7]

'22nd century     paraplegic marine dispatch moon pandora unique mission     become torn follow order protect alien civilization'

In [378]:
df2.head(1)

,id,cast,director,genres,keywords,original_language,original_title,overview
0,19995,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",en,Avatar,22nd century paraplegic marine dispatch mo...

In [379]:
df2['tags'] = df2.sum(axis=1)

In [380]:
df2.head(1)

,id,cast,director,genres,keywords,original_language,original_title,overview,tags
0,19995,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",en,Avatar,22nd century paraplegic marine dispatch mo...,19995

In [381]:
#Removing spaces between names in cast and crew column

In [382]:
def remove_spaces(ls):
    for i in range(len(ls)):
        ls[i] = ls[i].replace(' ', '')
    return ls
        # print(ls[i])

In [383]:
ls1 = df2.iloc[0, 1]

In [384]:
ls1

['Sam Worthington', 'Zoe Saldana', 'Sigourney Weaver']

In [385]:
remove_spaces(ls1)

['SamWorthington', 'ZoeSaldana', 'SigourneyWeaver']

In [386]:
df2.drop(columns='tags', axis=1, inplace=True)

In [387]:
df2.head(1)

,id,cast,director,genres,keywords,original_language,original_title,overview
0,19995,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[James Cameron],"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",en,Avatar,22nd century paraplegic marine dispatch mo...

In [388]:
df2['cast'] = df2['cast'].apply(remove_spaces)

In [389]:
df2['director'] = df2['director'].apply(remove_spaces)

In [390]:
df2['genres'] = df2['genres'].apply(remove_spaces)

In [394]:
df2.head(1)

,id,cast,director,genres,keywords,original_language,original_title,overview
0,19995,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...",en,Avatar,22nd century paraplegic marine dispatch mo...

In [392]:
df2['keywords'] = df2['keywords'].apply(remove_spaces)

In [395]:
df2['combined'] = df2['cast'] + df2['director'] + df2['genres'] + df2['keywords']

In [396]:
df2.head(1)

,id,cast,director,genres,keywords,original_language,original_title,overview,combined
0,19995,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...",en,Avatar,22nd century paraplegic marine dispatch mo...,"[SamWorthington, ZoeSaldana, SigourneyWeaver, ..."

In [397]:
msg = df2.iloc[0, 7]

In [398]:
df2.iloc[0, 8]

['SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver',
 'JamesCameron',
 'Action',
 'Adventure',
 'Fantasy',
 'ScienceFiction',
 'cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d']

In [399]:
def replace_big_spaces(string):
    string = string.replace('  ', '')
    return string

In [400]:
replace_big_spaces(msg)

'22nd century paraplegic marine dispatch moon pandora unique mission become torn follow order protect alien civilization'

In [401]:
df2['overview'] = df2['overview'].apply(replace_big_spaces)

In [402]:
df2.head(5)

,id,cast,director,genres,keywords,original_language,original_title,overview,combined
0,19995,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...",en,Avatar,22nd century paraplegic marine dispatch moon p...,"[SamWorthington, ZoeSaldana, SigourneyWeaver, ..."
1,285,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...",en,Pirates of the Caribbean: At World's End,captain barbossa long believe dead come back l...,"[JohnnyDepp, OrlandoBloom, KeiraKnightley, Gor..."
2,206647,"[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...",en,Spectre,cryptic message bond ’s past send trail uncove...,"[DanielCraig, ChristophWaltz, LéaSeydoux, SamM..."
3,49026,"[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...",en,The Dark Knight Rises,follow death district attorney harvey dent bat...,"[ChristianBale, MichaelCaine, GaryOldman, Chri..."
4,49529,"[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...",en,John Carter,john carter war weary former military captain ...,"[TaylorKitsch, LynnCollins, SamanthaMorton, An..."

In [403]:
msg = df2.iloc[0, 7]

In [404]:
msg

'22nd century paraplegic marine dispatch moon pandora unique mission become torn follow order protect alien civilization'

In [405]:
def list_to_string(ls):
    st=""
    
    for i in ls:
        st = ' '.join(ls)
    return st

In [406]:
msg = df2.iloc[0, 8]

In [407]:
msg

['SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver',
 'JamesCameron',
 'Action',
 'Adventure',
 'Fantasy',
 'ScienceFiction',
 'cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d']

In [408]:
list_to_string(msg)

'SamWorthington ZoeSaldana SigourneyWeaver JamesCameron Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d'

In [409]:
df2['combined'] = df2['combined'].apply(list_to_string)

In [410]:
df2.head(1)

,id,cast,director,genres,keywords,original_language,original_title,overview,combined
0,19995,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...",en,Avatar,22nd century paraplegic marine dispatch moon p...,SamWorthington ZoeSaldana SigourneyWeaver Jame...

In [417]:
df2['tags'] = df2['combined'] + df2['overview']

In [418]:
df2.head(1)

,id,cast,director,genres,keywords,original_language,original_title,overview,combined,tags
0,19995,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...",en,Avatar,22nd century paraplegic marine dispatch moon p...,SamWorthington ZoeSaldana SigourneyWeaver Jame...,SamWorthington ZoeSaldana SigourneyWeaver Jame...

In [419]:
df2.iloc[0, 9]

'SamWorthington ZoeSaldana SigourneyWeaver JamesCameron Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d22nd century paraplegic marine dispatch moon pandora unique mission become torn follow order protect alien civilization'

In [420]:
msg = df2.iloc[0, 5]

In [421]:
msg

'en'

In [423]:
msg = ' ' +  msg

In [424]:
msg

' en'

In [425]:
def insert_space_at_beginning(string):
    string = ' ' + string
    return string

In [426]:
df2['original_language'] = df2['original_language'].apply(insert_space_at_beginning)

In [427]:
df2['tags'] = df2['tags'] + df2['original_language']

In [428]:
df2.head(1)

,id,cast,director,genres,keywords,original_language,original_title,overview,combined,tags
0,19995,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...",en,Avatar,22nd century paraplegic marine dispatch moon p...,SamWorthington ZoeSaldana SigourneyWeaver Jame...,SamWorthington ZoeSaldana SigourneyWeaver Jame...

In [429]:
df2.iloc[0, 9]

'SamWorthington ZoeSaldana SigourneyWeaver JamesCameron Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d22nd century paraplegic marine dispatch moon pandora unique mission become torn follow order protect alien civilization en'