In [71]:
import nltk
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.compose import ColumnTransformer
from sklearn.experimental import enable_iterative_imputer
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.preprocessing import StandardScaler, RobustScaler, MinMaxScaler
from sklearn.feature_selection import RFE, RFECV, f_regression, chi2
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.experimental import enable_halving_search_cv
from sklearn.model_selection import GridSearchCV, KFold, RandomizedSearchCV, HalvingGridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.feature_selection import SelectKBest
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, recall_score, precision_score, f1_score, roc_auc_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB, BernoulliNB
from sklearn.preprocessing import PowerTransformer, QuantileTransformer
from mlxtend.feature_selection import SequentialFeatureSelector as SFS
from sklearn.neighbors import  KNeighborsClassifier
from datetime import datetime as dt
from sklearn.impute import SimpleImputer, KNNImputer, IterativeImputer
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import GradientBoostingClassifier, AdaBoostClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, LabelEncoder
from imblearn.combine import SMOTETomek
from collections import Counter
from mlxtend.feature_selection import ColumnSelector
import warnings
# Settings the warnings to be ignored
warnings.filterwarnings('ignore')

In [72]:
# Displaying all columns
pd.set_option('display.max_columns', None)

#Display all data in columns
# pd.set_option("display.max_colwidth", None)

# np.set_printoptions(threshold=None, edgeitems=None, linewidth=None, suppress=None)
# pd.set_option("display.max_rows", None)
# pd.set_option("display.expand_frame_repr", True)
# pd.set_option('display.width', 1000)

In [73]:
#Storing Accuracy

data_accuracy = pd.DataFrame(columns=['Algo', 'Accuracy(KFold)', 'Test', 'Train', 'Recall', 'Precision', 'F1', 'ROC_AUC_SCORE'])
def store(data):
    data_accuracy.loc[len(data_accuracy.index)] = data
    data_accuracy.to_csv('loan_prediction_metric_scores.csv')
    print(data_accuracy)



def get_info_pipeline(pipe_name):
    sub_pipe = pipe_name[:-1]
    transformed_df = pd.DataFrame(
        data=sub_pipe.fit_transform(X_train, y_train),
        columns=sub_pipe.get_feature_names_out(),
    )
    print(transformed_df)

In [74]:
import spacy
nlp = spacy.load('en_core_web_sm')

In [75]:
df1 = pd.read_csv('tmdb_5000_credits.csv')
df2 = pd.read_csv('tmdb_5000_movies.csv')

In [76]:
df1.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [77]:
#Renaming the 'movie_id' col in df1 to 'id' of df2

In [78]:
df1.rename(columns = {'movie_id':'id'}, inplace = True)

In [79]:
df1.head(1)

,id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [80]:
#joining the credits amd movie dataframes

In [81]:
df2 = pd.merge(df1, df2, on='id')

In [82]:
df2.head(1)

,id,title_x,cast,crew,budget,genres,homepage,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title_y,vote_average,vote_count
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [83]:
#Drpping columns

In [84]:
df2.columns

Index(['id', 'title_x', 'cast', 'crew', 'budget', 'genres', 'homepage',
       'keywords', 'original_language', 'original_title', 'overview',
       'popularity', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'title_y', 'vote_average', 'vote_count'],
      dtype='object')

In [85]:
df2.drop(columns=['status', 'runtime'], axis=1, inplace=True)

In [86]:
df2.drop(columns=['title_x'], axis=1, inplace=True)

In [87]:
df2.head(1)

,id,cast,crew,budget,genres,homepage,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,spoken_languages,tagline,title_y,vote_average,vote_count
0,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Enter the World of Pandora.,Avatar,7.2,11800

In [88]:
df2.drop(columns=['title_y'], axis=1, inplace=True)

In [89]:
df2.shape

(4803, 19)

In [90]:
df2.head(1)

,id,cast,crew,budget,genres,homepage,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,spoken_languages,tagline,vote_average,vote_count
0,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Enter the World of Pandora.,7.2,11800

In [91]:
df2.drop(columns=['revenue', 'release_date'], axis=1, inplace=True)

In [92]:
df2.drop(columns=['budget', 'homepage', 'popularity', 'spoken_languages', 'production_countries', 'vote_average', 'vote_count'], axis=1, inplace=True)

In [93]:
df2.shape

(4803, 10)

In [94]:
df2.head(1)

,id,cast,crew,genres,keywords,original_language,original_title,overview,production_companies,tagline
0,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""name"": ""Ingenious Film Partners"", ""id"": 289...",Enter the World of Pandora.

In [95]:
df2.isnull().sum()

id                        0
cast                      0
crew                      0
genres                    0
keywords                  0
original_language         0
original_title            0
overview                  3
production_companies      0
tagline                 844
dtype: int64

In [96]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    4803 non-null   int64
 1   cast                  4803 non-null   object
 2   crew                  4803 non-null   object
 3   genres                4803 non-null   object
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   production_companies  4803 non-null   object
 9   tagline               3959 non-null   object
dtypes: int64(1), object(9)
memory usage: 412.8+ KB

In [97]:
df2.drop(columns='production_companies', axis=1, inplace=True)

In [98]:
df2.head(1)

,id,cast,crew,genres,keywords,original_language,original_title,overview,tagline
0,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.

In [99]:
df2.shape

(4803, 9)

In [100]:
#Dropping null rows

In [101]:
df2.isnull().sum()

id                     0
cast                   0
crew                   0
genres                 0
keywords               0
original_language      0
original_title         0
overview               3
tagline              844
dtype: int64

In [102]:
df2.drop(columns='tagline', axis=1, inplace=True)

In [103]:
df2.dropna(inplace=True)

In [104]:
df2.head(1)

,id,cast,crew,genres,keywords,original_language,original_title,overview
0,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di..."

In [105]:
df2.isnull().sum()

id                   0
cast                 0
crew                 0
genres               0
keywords             0
original_language    0
original_title       0
overview             0
dtype: int64

In [106]:
#Preprocessing

In [107]:
##Genre

In [108]:
df2.iloc[0, 3]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [109]:
import ast

In [110]:
def fetch_genres(string):
    ls = []
    for i in  ast.literal_eval(string):
        ls.append(i['name'])
    return ls

In [111]:
df2['genres'] = df2['genres'].apply(fetch_genres)

In [112]:
df2.head(1)

,id,cast,crew,genres,keywords,original_language,original_title,overview
0,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di..."

In [113]:
df2.iloc[3, 3]

['Action', 'Crime', 'Drama', 'Thriller']

In [114]:
##Crew

In [115]:
def fetch_dir_and_prod(string):
    ls = []
    for i in  ast.literal_eval(string):
        if i['job']=='Director':
            ls.append(i['name'])
            break
    return ls

In [116]:
df2.head(1)

,id,cast,crew,genres,keywords,original_language,original_title,overview
0,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di..."

In [117]:
msg = " "
msg = df2.loc[4].crew

In [118]:
msg

'[{"credit_id": "52fe479ac3a36847f813eaa3", "department": "Writing", "gender": 2, "id": 7, "job": "Screenplay", "name": "Andrew Stanton"}, {"credit_id": "52fe479ac3a36847f813ea65", "department": "Directing", "gender": 2, "id": 7, "job": "Director", "name": "Andrew Stanton"}, {"credit_id": "58c69e819251411d30017673", "department": "Crew", "gender": 2, "id": 7879, "job": "Thanks", "name": "John Lasseter"}, {"credit_id": "52fe479ac3a36847f813eac5", "department": "Production", "gender": 2, "id": 490, "job": "Producer", "name": "Colin Wilson"}, {"credit_id": "58c68f2b9251411d30016cf2", "department": "Production", "gender": 2, "id": 2073, "job": "Casting", "name": "Gail Stevens"}, {"credit_id": "58c68ef19251411d62016ec3", "department": "Sound", "gender": 2, "id": 3996, "job": "Sound Re-Recording Mixer", "name": "Tom Johnson"}, {"credit_id": "52fe479ac3a36847f813ead7", "department": "Editing", "gender": 2, "id": 6958, "job": "Editor", "name": "Eric Zumbrunnen"}, {"credit_id": "58c69a9ec3a36840b801738e", "department": "Editing", "gender": 0, "id": 8158, "job": "Dialogue Editor", "name": "Michael Silvers"}, {"credit_id": "58c68f1ec3a368413b015877", "department": "Sound", "gender": 0, "id": 8166, "job": "Sound Re-Recording Mixer", "name": "Juan Peralta"}, {"credit_id": "58c69340c3a36841200154c9", "department": "Costume & Make-Up", "gender": 0, "id": 8412, "job": "Key Makeup Artist", "name": "Paul Gooch"}, {"credit_id": "58c69cc0c3a368413001574a", "department": "Art", "gender": 0, "id": 12039, "job": "Set Decoration", "name": "Paki Smith"}, {"credit_id": "58c69e9e9251411d11017c02", "department": "Crew", "gender": 0, "id": 12895, "job": "Thanks", "name": "Ed Catmull"}, {"credit_id": "58c689079251411d19017350", "department": "Crew", "gender": 2, "id": 12897, "job": "In Memory Of", "name": "Steve Jobs"}, {"credit_id": "56abe29d9251417e22003953", "department": "Costume & Make-Up", "gender": 2, "id": 15017, "job": "Makeup Designer", "name": "Bill Corso"}, {"credit_id": "58c691fc9251411d30016e75", "department": "Art", "gender": 2, "id": 14762, "job": "Art Direction", "name": "Robert Woodruff"}, {"credit_id": "52fe479ac3a36847f813eae3", "department": "Art", "gender": 2, "id": 15327, "job": "Production Design", "name": "Nathan Crowley"}, {"credit_id": "58c6888bc3a36840f6014f95", "department": "Sound", "gender": 2, "id": 15347, "job": "Music", "name": "Michael Giacchino"}, {"credit_id": "52fe479ac3a36847f813ead1", "department": "Camera", "gender": 0, "id": 15348, "job": "Director of Photography", "name": "Daniel Mindel"}, {"credit_id": "58c69adcc3a36840f6015b94", "department": "Sound", "gender": 2, "id": 15354, "job": "Music Editor", "name": "Stephen M. Davis"}, {"credit_id": "58c69227c3a36840f60155d7", "department": "Art", "gender": 2, "id": 34513, "job": "Art Direction", "name": "John King"}, {"credit_id": "52fe479ac3a36847f813eafb", "department": "Costume & Make-Up", "gender": 0, "id": 17675, "job": "Costume Design", "name": "Mayes C. Rubeo"}, {"credit_id": "570b939092514111f20029c9", "department": "Art", "gender": 0, "id": 17677, "job": "Supervising Art Director", "name": "Naaman Marshall"}, {"credit_id": "58c69203c3a36841140150c8", "department": "Art", "gender": 0, "id": 18925, "job": "Art Direction", "name": "Scott Zuber"}, {"credit_id": "58c6905bc3a3684128014f17", "department": "Art", "gender": 2, "id": 23454, "job": "Art Direction", "name": "Phil Harvey"}, {"credit_id": "58c69aedc3a36841140156e9", "department": "Sound", "gender": 0, "id": 28241, "job": "Orchestrator", "name": "Tim Simonec"}, {"credit_id": "58c69811c3a368410c0160b1", "department": "Costume & Make-Up", "gender": 0, "id": 29233, "job": "Makeup Artist", "name": "Veronica McAleer"}, {"credit_id": "52fe479ac3a36847f813eb07", "department": "Writing", "gender": 2, "id": 15776, "job": "Original Story", "name": "Edgar Rice Burroughs"}, {"credit_id": "52fe479ac3a36847f813eadd", "department": "Production", "gender": 1, "id": 51557, "job": "Casting", "name": "Marcia Ross"}, {"credit_id": "58c69f12c3a36841140159a5", "department": "Crew", "gender": 2, "id": 39624, "job": "Thanks", "name": "Peter Gabriel"}, {"credit_id": "58c6937f9251411d30016f5f", "department": "Costume & Make-Up", "gender": 0, "id": 61996, "job": "Key Makeup Artist", "name": "Christien Tinsley"}, {"credit_id": "58c69acb9251411d19017f73", "department": "Production", "gender": 0, "id": 64449, "job": "ADR Voice Casting", "name": "Holly Dorff"}, {"credit_id": "52fe479ac3a36847f813eabf", "department": "Production", "gender": 0, "id": 72752, "job": "Producer", "name": "Jim Morris"}, {"credit_id": "52fe479ac3a36847f813eab9", "department": "Production", "gender": 0, "id": 72753, "job": "Producer", "name": "Lindsey Collins"}, {"credit_id": "52fe479ac3a36847f813eaaf", "department": "Writing", "gender": 2, "id": 67758, "job": "Screenplay", "name": "Michael Chabon"}, {"credit_id": "58c68a499251411d55016dd5", "department": "Production", "gender": 0, "id": 91055, "job": "Unit Production Manager", "name": "Jan Foster"}, {"credit_id": "58c699509251411d550177c7", "department": "Camera", "gender": 0, "id": 91912, "job": "Camera Operator", "name": "John Skotchdopole"}, {"credit_id": "58c6995cc3a368412001591e", "department": "Sound", "gender": 2, "id": 105780, "job": "Sound Mixer", "name": "Chris Munro"}, {"credit_id": "58c6884e9251411d15016de7", "department": "Visual Effects", "gender": 0, "id": 122274, "job": "Visual Effects Supervisor", "name": "Peter Chiang"}, {"credit_id": "52fe479ac3a36847f813eaa9", "department": "Writing", "gender": 2, "id": 126638, "job": "Screenplay", "name": "Mark Andrews"}, {"credit_id": "58c68ed79251411d62016eb2", "department": "Sound", "gender": 0, "id": 138617, "job": "Supervising Sound Editor", "name": "Jonathan Null"}, {"credit_id": "58c69c9a9251411d6201776e", "department": "Production", "gender": 2, "id": 238120, "job": "Casting Associate", "name": "Colin Jones"}, {"credit_id": "52fe479ac3a36847f813eb13", "department": "Costume & Make-Up", "gender": 1, "id": 406204, "job": "Makeup Department Head", "name": "Ve Neill"}, {"credit_id": "58c69b249251411d0d018598", "department": "Production", "gender": 1, "id": 528783, "job": "Casting Associate", "name": "Brittainy Roberts"}, {"credit_id": "58c698c9c3a36840b8017245", "department": "Costume & Make-Up", "gender": 0, "id": 967148, "job": "Assistant Costume Designer", "name": "Jeremy Turner"}, {"credit_id": "58c691f5c3a36841200153f6", "department": "Art", "gender": 2, "id": 969743, "job": "Art Direction", "name": "Dean Wolcott"}, {"credit_id": "58c69032c3a36841200152fe", "department": "Art", "gender": 2, "id": 986687, "job": "Art Direction", "name": "Mark Harris"}, {"credit_id": "570b9382c3a368779600816a", "department": "Art", "gender": 0, "id": 1034754, "job": "Supervising Art Director", "name": "James Hambidge"}, {"credit_id": "52fe479ac3a36847f813eb01", "department": "Crew", "gender": 0, "id": 1034755, "job": "Post Production Supervisor", "name": "Lori Korngiebel"}, {"credit_id": "58c692ffc3a3684114015167", "department": "Art", "gender": 0, "id": 1055222, "job": "Storyboard Designer", "name": "David Krentz"}, {"credit_id": "58c68e719251411d19017745", "department": "Visual Effects", "gender": 0, "id": 1081073, "job": "Special Effects Supervisor", "name": "Chris Corbould"}, {"credit_id": "58c698bec3a368411401553a", "department": "Costume & Make-Up", "gender": 1, "id": 1121742, "job": "Assistant Costume Designer", "name": "Colleen Kelsall"}, {"credit_id": "58c68e2e9251411d47017e8a", "department": "Production", "gender": 0, "id": 1123360, "job": "Associate Producer", "name": "Bob Roath"}, {"credit_id": "58c692629251411d620170a7", "department": "Art", "gender": 0, "id": 1171098, "job": "Set Designer", "name": "Darrell L. Wight"}, {"credit_id": "58c692f9c3a36840b8016e22", "department": "Art", "gender": 0, "id": 1218986, "job": "Storyboard Designer", "name": "Bryan Andrews"}, {"credit_id": "58c6941f9251411d110174ca", "department": "Costume & Make-Up", "gender": 0, "id": 1316599, "job": "Makeup Artist", "name": "Dennis Liddiard"}, {"credit_id": "58c6943a9251411d0d01804a", "department": "Costume & Make-Up", "gender": 0, "id": 1319490, "job": "Makeup Artist", "name": "Kevin Haney"}, {"credit_id": "58c69244c3a368413b015a23", "department": "Art", "gender": 0, "id": 1334782, "job": "Assistant Art Director", "name": "Josh Lusby"}, {"credit_id": "58c69ccec3a36841280156f6", "department": "Art", "gender": 0, "id": 1335553, "job": "Property Master", "name": "Jamie Wilkinson"}, {"credit_id": "58c69f219251411d190182a8", "department": "Crew", "gender": 0, "id": 1339450, "job": "Thanks", "name": "Roger Guyett"}, {"credit_id": "58c69dc79251411d1901819d", "department": "Crew", "gender": 0, "id": 1357070, "job": "Transportation Coordinator", "name": "Denny Caira"}, {"credit_id": "58c688709251411d3001684b", "department": "Visual Effects", "gender": 0, "id": 1367497, "job": "Visual Effects Supervisor", "name": "Sue Rowe"}, {"credit_id": "58c69ca79251411d11017a77", "department": "Production", "gender": 0, "id": 1374469, "job": "Casting Assistant", "name": "Toby Spigel"}, {"credit_id": "58c69aa59251411d11017919", "department": "Editing", "gender": 0, "id": 1376901, "job": "Dialogue Editor", "name": "Marshall Winn"}, {"credit_id": "58c68ee9c3a3684128014e36", "department": "Sound", "gender": 0, "id": 1378828, "job": "Sound Re-Recording Mixer", "name": "Michael Semanick"}, {"credit_id": "58c692389251411d30016ea2", "department": "Art", "gender": 0, "id": 1388850, "job": "Assistant Art Director", "name": "Peter Dorme"}, {"credit_id": "58c69cf49251411d4701890b", "department": "Lighting", "gender": 0, "id": 1390367, "job": "Gaffer", "name": "Perry Evans"}, {"credit_id": "58c699f4c3a368413b015f45", "department": "Directing", "gender": 0, "id": 1390388, "job": "Script Supervisor", "name": "Annie Penn"}, {"credit_id": "58c69a7ac3a368410c016254", "department": "Sound", "gender": 0, "id": 1394129, "job": "Sound Designer", "name": "Tim Nielsen"}, {"credit_id": "58c68edec3a3684114014f16", "department": "Sound", "gender": 0, "id": 1394129, "job": "Supervising Sound Editor", "name": "Tim Nielsen"}, {"credit_id": "58c6928f9251411d55017337", "department": "Art", "gender": 0, "id": 1395430, "job": "Art Department Coordinator", "name": "Jenne Lee"}, {"credit_id": "58c6925b9251411d150174df", "department": "Art", "gender": 0, "id": 1395435, "job": "Set Designer", "name": "Theodore Sharps"}, {"credit_id": "58c691c4c3a36840f6015583", "department": "Art", "gender": 0, "id": 1397837, "job": "Art Direction", "name": "Joseph Hodges"}, {"credit_id": "58c699489251411d300172de", "department": "Camera", "gender": 0, "id": 1399467, "job": "Camera Operator", "name": "Philippe Carr-Forster"}, {"credit_id": "58c69cfdc3a368413b016165", "department": "Lighting", "gender": 0, "id": 1399475, "job": "Gaffer", "name": "Christopher Prampin"}, {"credit_id": "58c69920c3a36841300154e2", "department": "Camera", "gender": 0, "id": 1400535, "job": "Camera Operator", "name": "Colin Anderson"}, {"credit_id": "58c699259251411d620174e9", "department": "Camera", "gender": 0, "id": 1400535, "job": "Steadicam Operator", "name": "Colin Anderson"}, {"credit_id": "58c699ebc3a368411401561c", "department": "Production", "gender": 0, "id": 1401784, "job": "Production Supervisor", "name": "Jennifer Teves"}, {"credit_id": "58c6935ec3a368413b015ae4", "department": "Costume & Make-Up", "gender": 0, "id": 1403388, "job": "Key Makeup Artist", "name": "Kim Ayers"}, {"credit_id": "58c68e49c3a368413b0157eb", "department": "Visual Effects", "gender": 0, "id": 1408379, "job": "Visual Effects Producer", "name": "Daniel Barrow"}, {"credit_id": "58c6936fc3a368413b015aed", "department": "Costume & Make-Up", "gender": 0, "id": 1409757, "job": "Key Makeup Artist", "name": "Debbi Salmon"}, {"credit_id": "58c69339c3a36841200154c4", "department": "Costume & Make-Up", "gender": 0, "id": 1411320, "job": "Key Makeup Artist", "name": "Paula Price"}, {"credit_id": "58c69dba9251411d0d018767", "department": "Camera", "gender": 0, "id": 1412205, "job": "Still Photographer", "name": "Frank Connor"}, {"credit_id": "58c69a89c3a3684114015691", "department": "Sound", "gender": 0, "id": 1414177, "job": "Sound Effects Editor", "name": "J.R. Grubbs"}, {"credit_id": "58c69452c3a36840f6015741", "department": "Costume & Make-Up", "gender": 0, "id": 1414539, "job": "Makeup Artist", "name": "Deborah Rutherford"}, {"credit_id": "58c6946c9251411d15017617", "department": "Costume & Make-Up", "gender": 0, "id": 1414540, "job": "Makeup Artist", "name": "Don Rutherford"}, {"credit_id": "58c69a929251411d11017907", "department": "Sound", "gender": 0, "id": 1415464, "job": "Sound Effects Editor", "name": "Malcolm Fife"}, {"credit_id": "58c6923e9251411d11017382", "department": "Art", "gender": 0, "id": 1417396, "job": "Assistant Art Director", "name": "Toby Britton"}, {"credit_id": "58c69866c3a368413001545d", "department": "Costume & Make-Up", "gender": 0, "id": 1418124, "job": "Hair Designer", "name": "Kevin Alexander"}, {"credit_id": "58c693779251411d470181e4", "department": "Costume & Make-Up", "gender": 0, "id": 1421936, "job": "Key Makeup Artist", "name": "Kristie Matthiae"}, {"credit_id": "58c694a99251411d15017646", "department": "Costume & Make-Up", "gender": 0, "id": 1424151, "job": "Makeup Artist", "name": "Gerald Quist"}, {"credit_id": "58c693f39251411d110174a9", "department": "Costume & Make-Up", "gender": 0, "id": 1425411, "job": "Makeup Artist", "name": "Nuria Mbomio"}, {"credit_id": "58c68866c3a368413b015367", "department": "Visual Effects", "gender": 0, "id": 1428901, "job": "Animation Supervisor", "name": "Eamonn Butler"}, {"credit_id": "58c68ec89251411d11017191", "department": "Crew", "gender": 0, "id": 1428905, "job": "Visual Effects Editor", "name": "Laura Jennings"}, {"credit_id": "58c693919251411d0d017fde", "department": "Costume & Make-Up", "gender": 0, "id": 1428911, "job": "Makeup Artist", "name": "Ailbhe Lemass"}, {"credit_id": "58c6992f9251411d19017e49", "department": "Camera", "gender": 0, "id": 1430188, "job": "Camera Operator", "name": "Simon Finney"}, {"credit_id": "58c6948b9251411d15017628", "department": "Costume & Make-Up", "gender": 0, "id": 1441176, "job": "Makeup Artist", "name": "Eryn Krueger Mekash"}, {"credit_id": "58c692ddc3a368413b015a8d", "department": "Art", "gender": 0, "id": 1447571, "job": "Art Department Assistant", "name": "Travis Witkowski"}, {"credit_id": "58c694809251411d15017622", "department": "Costume & Make-Up", "gender": 0, "id": 1458894, "job": "Makeup Artist", "name": "Mike Mekash"}, {"credit_id": "58c6940e9251411d19017aad", "department": "Costume & Make-Up", "gender": 0, "id": 1530220, "job": "Makeup Artist", "name": "Kirstin Chalmers"}, {"credit_id": "58c698e89251411d5501777a", "department": "Costume & Make-Up", "gender": 0, "id": 1532325, "job": "Key Costumer", "name": "Kacie Seamons"}, {"credit_id": "58c693b39251411d30016f78", "department": "Costume & Make-Up", "gender": 0, "id": 1536539, "job": "Makeup Artist", "name": "Deborah Taylor"}, {"credit_id": "58c68e84c3a36840f60153a1", "department": "Crew", "gender": 0, "id": 1546844, "job": "Visual Effects Art Director", "name": "Ryan Church"}, {"credit_id": "58c693659251411d550173be", "department": "Costume & Make-Up", "gender": 0, "id": 1549655, "job": "Key Makeup Artist", "name": "Camille Henderson"}, {"credit_id": "58c68fd29251411d30016d3f", "department": "Crew", "gender": 0, "id": 1550851, "job": "Stunt Coordinator", "name": "Tom Struthers"}, {"credit_id": "58c692bfc3a36840b8016df9", "department": "Art", "gender": 0, "id": 1551810, "job": "Art Department Assistant", "name": "Liam Georgensen"}, {"credit_id": "58c692869251411d30016ed9", "department": "Art", "gender": 0, "id": 1561994, "job": "Art Department Coordinator", "name": "Lavinia Waters"}, {"credit_id": "58c697f89251411d30017205", "department": "Costume & Make-Up", "gender": 0, "id": 1613336, "job": "Makeup Artist", "name": "Greg T. Moon"}, {"credit_id": "58c69a07c3a36841200159ae", "department": "Production", "gender": 0, "id": 1640350, "job": "Production Coordinator", "name": "Richard Daldry"}, {"credit_id": "58c69979c3a368413b015eef", "department": "Sound", "gender": 2, "id": 1658269, "job": "Boom Operator", "name": "Stephen Finn"}, {"credit_id": "58c692e4c3a36840f601564a", "department": "Art", "gender": 0, "id": 1661321, "job": "Art Department Assistant", "name": "Tom Castronovo"}, {"credit_id": "58c69dadc3a36841280157a4", "department": "Crew", "gender": 0, "id": 1686002, "job": "Unit Publicist", "name": "Katherine McCormack"}, {"credit_id": "58c689439251411d15016ed6", "department": "Production", "gender": 0, "id": 1697623, "job": "Unit Production Manager", "name": "Steve Harding"}, {"credit_id": "58c68ebdc3a3684128014e11", "department": "Editing", "gender": 0, "id": 1710258, "job": "Additional Editing", "name": "Erik Jessen"}, {"credit_id": "58c689739251411d47017af1", "department": "Directing", "gender": 0, "id": 1750922, "job": "First Assistant Director", "name": "Tommy Gormley"}, {"credit_id": "58c692c7c3a36841300150c2", "department": "Art", "gender": 0, "id": 1761112, "job": "Art Department Assistant", "name": "Sarah Ginn"}, {"credit_id": "58c689aa9251411d55016d59", "department": "Directing", "gender": 0, "id": 1775681, "job": "Second Assistant Director", "name": "Ben Dixon"}, {"credit_id": "58c68a859251411d1901746d", "department": "Directing", "gender": 2, "id": 1775682, "job": "Second Assistant Director", "name": "Andrew M. Ward"}, {"credit_id": "58c692a4c3a368413b015a64", "department": "Art", "gender": 0, "id": 1775687, "job": "Art Department Coordinator", "name": "Stacey Newton"}, {"credit_id": "58c692b6c3a368412001546d", "department": "Art", "gender": 0, "id": 1775688, "job": "Art Department Assistant", "name": "Rachel Corbould"}, {"credit_id": "58c692d4c3a368413b015a88", "department": "Art", "gender": 0, "id": 1775689, "job": "Art Department Assistant", "name": "Jake Hall"}, {"credit_id": "58c693589251411d0d017fb3", "department": "Costume & Make-Up", "gender": 0, "id": 1775690, "job": "Key Makeup Artist", "name": "Gemma Richards"}, {"credit_id": "58c693fe9251411d55017423", "department": "Costume & Make-Up", "gender": 0, "id": 1775691, "job": "Makeup Artist", "name": "Sara Riesel"}, {"credit_id": "58c69407c3a368413b015b42", "department": "Costume & Make-Up", "gender": 0, "id": 1775692, "job": "Makeup Artist", "name": "Paul Boyce"}, {"credit_id": "58c694189251411d19017ab6", "department": "Costume & Make-Up", "gender": 0, "id": 1775693, "job": "Makeup Artist", "name": "Mandy Gold"}, {"credit_id": "58c698989251411d0d01836e", "department": "Costume & Make-Up", "gender": 0, "id": 1775701, "job": "Hairstylist", "name": "Candice Banks"}, {"credit_id": "58c698a59251411d19017de5", "department": "Costume & Make-Up", "gender": 0, "id": 1775702, "job": "Hairstylist", "name": "Gary Machin"}, {"credit_id": "58c69994c3a36840b80172dd", "department": "Sound", "gender": 0, "id": 1775704, "job": "Boom Operator", "name": "Noel Espinosa"}, {"credit_id": "58c69a309251411d110178c9", "department": "Production", "gender": 0, "id": 1775707, "job": "Production Coordinator", "name": "Meredith Humbracht"}, {"credit_id": "58c69d39c3a368410c0163fd", "department": "Camera", "gender": 0, "id": 1775718, "job": "Key Grip", "name": "Gary Hymns"}, {"credit_id": "58c69da6c3a368413b01620f", "department": "Camera", "gender": 0, "id": 1775721, "job": "Key Grip", "name": "Thomas Gibson"}, {"credit_id": "58c69ec49251411d55017be6", "department": "Crew", "gender": 0, "id": 1775723, "job": "Thanks", "name": "Danton Burroughs"}, {"credit_id": "591264bac3a368646b04fda5", "department": "Crew", "gender": 1, "id": 1813644, "job": "Stunts", "name": "Karin Silvestri"}]'

In [119]:
import ast
msg = ast.literal_eval(msg)

In [120]:
for i in msg:
    if i['job']=='Director':
        print(i['name'])
        break

Andrew Stanton

In [121]:
df2['crew'] = df2['crew'].apply(fetch_dir_and_prod)

In [122]:
df2.head(1)

,id,cast,crew,genres,keywords,original_language,original_title,overview
0,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...",[James Cameron],"[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di..."

In [123]:
##keywords

In [124]:
msg = df2.iloc[0, 4]

In [125]:
msg

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [126]:
def fetch_keyowrds(string):
    ls = []
    for i in  ast.literal_eval(string):
        ls.append(i['name'])
            
    return ls

In [127]:
fetch_keyowrds(msg)

['culture clash',
 'future',
 'space war',
 'space colony',
 'society',
 'space travel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alien planet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'love affair',
 'anti war',
 'power relations',
 'mind and soul',
 '3d']

In [128]:
df2['keywords'] = df2['keywords'].apply(fetch_genres)

In [129]:
df2.head(1)

,id,cast,crew,genres,keywords,original_language,original_title,overview
0,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...",[James Cameron],"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",en,Avatar,"In the 22nd century, a paraplegic Marine is di..."

In [130]:
##cast (first 3)

In [131]:
msg = df2.iloc[0, 1]

In [132]:
msg

'[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, {"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", "gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": 11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", "gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, "character": "Tsu\'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": 2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, "character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", "gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": 13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", "gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": 32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", "gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, {"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": "52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, "name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": 986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": "Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": 1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, "character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", "gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, {"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": "52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, "name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": 173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, "character": "Dragon Gunship Gunner", "credit_id": "52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": 215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": "Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": 143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, "character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": 2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, "character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", "gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": 47, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", "credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": "Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", "credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": "Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": 1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, "character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", "gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": 52, "character": "Na\'vi Child", "credit_id": "52fe48009251416c750acaa7", "gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": 53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", "gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, {"cast_id": 54, "character": "Troupe", "credit_id": "52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": "52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": "52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": "52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": "52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": "52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": "52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", "credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": "Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", "credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": "Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", "credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": "Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", "credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": "Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": 1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, "id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", "gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": 68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", "gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, {"cast_id": 69, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", "credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": "Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": "James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", "credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": "Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": "Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": 1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, "character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, "id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, "character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, "id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, "character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, "id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, "character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, "id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, "character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, "id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, "character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, "id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, "character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, "id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, "character": "Mining Chief (uncredited)", "credit_id": "52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner (uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": 107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": "Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": 0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, "character": "Nav\'i (uncredited)", "credit_id": "52fe48019251416c750acb27", "gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, {"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": 1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": "Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", "gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, {"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", "credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": "Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", "credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": "Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": 1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, "character": "Banshee (uncredited)", "credit_id": "52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", "credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": "Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician (uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": 1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": "Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", "gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, {"cast_id": 94, "character": "Hero (uncredited)", "credit_id": "52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", "order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", "credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": "Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer (uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": 1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": "Col. Quaritch\'s Mech Suit (uncredited)", "credit_id": "52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", "order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", "credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": "Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, "id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, "character": "Geologist (uncredited)", "credit_id": "52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard Whiteside", "order": 80}, {"cast_id": 101, "character": "Na\'vi (uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": 103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", "gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]'

In [133]:
def fetch_crew_first_three(string):
    ls = []
    cnt = 3
    for i in  ast.literal_eval(string):
        if cnt==0:
            break
        else:
            ls.append(i['name'])
        cnt=cnt-1
    return ls

In [134]:
msg

'[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, {"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", "gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": 11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", "gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, "character": "Tsu\'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": 2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, "character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", "gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": 13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", "gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": 32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", "gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, {"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": "52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, "name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": 986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": "Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": 1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, "character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", "gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, {"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": "52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, "name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": 173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, "character": "Dragon Gunship Gunner", "credit_id": "52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": 215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": "Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": 143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, "character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": 2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, "character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", "gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": 47, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", "credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": "Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", "credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": "Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": 1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, "character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", "gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": 52, "character": "Na\'vi Child", "credit_id": "52fe48009251416c750acaa7", "gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": 53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", "gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, {"cast_id": 54, "character": "Troupe", "credit_id": "52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": "52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": "52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": "52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": "52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": "52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": "52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", "credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": "Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", "credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": "Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", "credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": "Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", "credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": "Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": 1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, "id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", "gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": 68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", "gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, {"cast_id": 69, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", "credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": "Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": "James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", "credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": "Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": "Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": 1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, "character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, "id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, "character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, "id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, "character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, "id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, "character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, "id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, "character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, "id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, "character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, "id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, "character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, "id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, "character": "Mining Chief (uncredited)", "credit_id": "52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner (uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": 107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": "Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": 0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, "character": "Nav\'i (uncredited)", "credit_id": "52fe48019251416c750acb27", "gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, {"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": 1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": "Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", "gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, {"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", "credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": "Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", "credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": "Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": 1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, "character": "Banshee (uncredited)", "credit_id": "52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", "credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": "Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician (uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": 1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": "Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", "gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, {"cast_id": 94, "character": "Hero (uncredited)", "credit_id": "52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", "order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", "credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": "Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer (uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": 1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": "Col. Quaritch\'s Mech Suit (uncredited)", "credit_id": "52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", "order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", "credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": "Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, "id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, "character": "Geologist (uncredited)", "credit_id": "52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard Whiteside", "order": 80}, {"cast_id": 101, "character": "Na\'vi (uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": 103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", "gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]'

In [135]:
fetch_crew_first_three(msg)

['Sam Worthington', 'Zoe Saldana', 'Sigourney Weaver']

In [136]:
df2['cast'] = df2['cast'].apply(fetch_crew_first_three)

In [137]:
df2.head(1)

,id,cast,crew,genres,keywords,original_language,original_title,overview
0,19995,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",en,Avatar,"In the 22nd century, a paraplegic Marine is di..."

In [138]:
df2.rename(columns = {'crew':'director'}, inplace = True)

In [139]:
df2.head(1)

,id,cast,director,genres,keywords,original_language,original_title,overview
0,19995,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",en,Avatar,"In the 22nd century, a paraplegic Marine is di..."

In [140]:
#Preprocessing 'overview' column

#Lowercasing

df2['overview'] = df2['overview'].str.lower()


# Removing HTML tags

import re

def remove_html(text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'', text)

df2['overview'] = df2['overview'].apply(remove_html)
# print(df.head())


#Remove @

def remove_at_the_rate(text):

  ls = []
  new = []

  ls = nlp(text)

  for word in ls:
        if word.text != "@":
            new.append(word.text)

  return ' '.join(new)

df2['overview'] = df2['overview'].apply(remove_at_the_rate)



#Removing URL

import re

def remove_url(text):
    pattern = re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub(r'', text)

df2['overview'] = df2['overview'].apply(remove_url)
# print(df.head())


#Remmove punctuation

import string

punc = string.punctuation

def  remove_punc(text):

    return text.translate(str.maketrans('', '', punc))

df2['overview'] = df2['overview'].apply(remove_punc)


#Correcting spelling

# from textblob import TextBlob

# def spell_check(text):

#     textblb = TextBlob(text)
#     return textblb.correct().string

# X['remainder__text'] = X['remainder__text'].apply(spell_check)


from autocorrect import Speller

check = Speller()

def check_spell(text):

  return check(text)

df2['overview'] = df2['overview'].apply(check_spell)


# Removing stop words


from nltk.corpus import stopwords

stopwords = stopwords.words('english')

def remove_stop_words(text):
    ls = []
    new = []

    ls = nlp(text)

    for word in ls:
        if word.text not in stopwords:

            new.append(word.text)

    return ' '.join(new)

df2['overview'] = df2['overview'].apply(remove_stop_words)


#Removing Contradictions

import contractions

def remove_contradictions(text):

  return " ".join([contractions.fix(word.text) for word in nlp(text)])

df2['overview'] = df2['overview'].apply(remove_contradictions)


# #Lemmetization

# from nltk.stem.wordnet import WordNetLemmatizer

# lemmatizer = WordNetLemmatizer()

def Lemmetization(text):

  return " ".join([word.lemma_ for word in nlp(text)])


# #Stemming

# from nltk.stem.porter import PorterStemmer

# ps = PorterStemmer()
# def stemming(text):

#     return " ".join([ps.stem(word.text) for word in nlp(text)])

df2['overview'] = df2['overview'].apply(Lemmetization)

In [141]:
#Tokenization of overview column

In [142]:
# from nltk.tokenize import sent_tokenize, word_tokenize

# def token_nlp(string):
#     ls = []
#     # doc1 = nlp(string)
#     doc1 = word_tokenize(string)
#     ls.append(doc1)
#     return ls

In [143]:
# df2['overview'] = df2['overview'].apply(token_nlp)

In [144]:
df2.iloc[0, 7]

'22nd century     paraplegic marine dispatch moon pandora unique mission     become torn follow order protect alien civilization'

In [145]:
df2.head(1)

,id,cast,director,genres,keywords,original_language,original_title,overview
0,19995,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",en,Avatar,22nd century paraplegic marine dispatch mo...

In [146]:
df2['tags'] = df2.sum(axis=1)

In [147]:
df2.head(1)

,id,cast,director,genres,keywords,original_language,original_title,overview,tags
0,19995,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",en,Avatar,22nd century paraplegic marine dispatch mo...,19995

In [148]:
#Removing spaces between names in cast and crew column

In [149]:
def remove_spaces(ls):
    for i in range(len(ls)):
        ls[i] = ls[i].replace(' ', '')
    return ls
        # print(ls[i])

In [150]:
ls1 = df2.iloc[0, 1]

In [151]:
ls1

['Sam Worthington', 'Zoe Saldana', 'Sigourney Weaver']

In [152]:
remove_spaces(ls1)

['SamWorthington', 'ZoeSaldana', 'SigourneyWeaver']

In [153]:
df2.drop(columns='tags', axis=1, inplace=True)

In [154]:
df2.head(1)

,id,cast,director,genres,keywords,original_language,original_title,overview
0,19995,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[James Cameron],"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",en,Avatar,22nd century paraplegic marine dispatch mo...

In [155]:
df2['cast'] = df2['cast'].apply(remove_spaces)

In [156]:
df2['director'] = df2['director'].apply(remove_spaces)

In [157]:
# df2['genres'] = df2['genres'].apply(remove_spaces)

In [158]:
df2.head(1)

,id,cast,director,genres,keywords,original_language,original_title,overview
0,19995,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",en,Avatar,22nd century paraplegic marine dispatch mo...

In [159]:
# df2['keywords'] = df2['keywords'].apply(remove_spaces)

In [160]:
df2['combined'] = df2['cast'] + df2['director'] + df2['genres'] + df2['keywords']

In [161]:
df2.head(1)

,id,cast,director,genres,keywords,original_language,original_title,overview,combined
0,19995,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",en,Avatar,22nd century paraplegic marine dispatch mo...,"[SamWorthington, ZoeSaldana, SigourneyWeaver, ..."

In [162]:
msg = df2.iloc[0, 7]

In [163]:
df2.iloc[0, 8]

['SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver',
 'JamesCameron',
 'Action',
 'Adventure',
 'Fantasy',
 'Science Fiction',
 'culture clash',
 'future',
 'space war',
 'space colony',
 'society',
 'space travel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alien planet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'love affair',
 'anti war',
 'power relations',
 'mind and soul',
 '3d']

In [164]:
def replace_big_spaces(string):
    string = string.replace('  ', '')
    return string

In [165]:
replace_big_spaces(msg)

'22nd century paraplegic marine dispatch moon pandora unique mission become torn follow order protect alien civilization'

In [166]:
df2['overview'] = df2['overview'].apply(replace_big_spaces)

In [167]:
df2.head(5)

,id,cast,director,genres,keywords,original_language,original_title,overview,combined
0,19995,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",en,Avatar,22nd century paraplegic marine dispatch moon p...,"[SamWorthington, ZoeSaldana, SigourneyWeaver, ..."
1,285,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",en,Pirates of the Caribbean: At World's End,captain barbossa long believe dead come back l...,"[JohnnyDepp, OrlandoBloom, KeiraKnightley, Gor..."
2,206647,"[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",en,Spectre,cryptic message bond ’s past send trail uncove...,"[DanielCraig, ChristophWaltz, LéaSeydoux, SamM..."
3,49026,"[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",en,The Dark Knight Rises,follow death district attorney harvey dent bat...,"[ChristianBale, MichaelCaine, GaryOldman, Chri..."
4,49529,"[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",en,John Carter,john carter war weary former military captain ...,"[TaylorKitsch, LynnCollins, SamanthaMorton, An..."

In [168]:
msg = df2.iloc[0, 7]

In [169]:
msg

'22nd century paraplegic marine dispatch moon pandora unique mission become torn follow order protect alien civilization'

In [170]:
def list_to_string(ls):
    st=""
    
    for i in ls:
        st = ' '.join(ls)
    return st

In [171]:
msg = df2.iloc[0, 8]

In [172]:
msg

['SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver',
 'JamesCameron',
 'Action',
 'Adventure',
 'Fantasy',
 'Science Fiction',
 'culture clash',
 'future',
 'space war',
 'space colony',
 'society',
 'space travel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alien planet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'love affair',
 'anti war',
 'power relations',
 'mind and soul',
 '3d']

In [173]:
list_to_string(msg)

'SamWorthington ZoeSaldana SigourneyWeaver JamesCameron Action Adventure Fantasy Science Fiction culture clash future space war space colony society space travel futuristic romance space alien tribe alien planet cgi marine soldier battle love affair anti war power relations mind and soul 3d'

In [174]:
df2['combined'] = df2['combined'].apply(list_to_string)

In [175]:
df2.head(1)

,id,cast,director,genres,keywords,original_language,original_title,overview,combined
0,19995,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",en,Avatar,22nd century paraplegic marine dispatch moon p...,SamWorthington ZoeSaldana SigourneyWeaver Jame...

In [176]:
def insert_space_at_beginning(string):
    string = ' ' + string
    return string

In [177]:
df2['overview']=df2['overview'].apply(insert_space_at_beginning)

In [178]:
df2['tags'] = df2['combined'] + df2['overview']

In [179]:
df2.head(1)

,id,cast,director,genres,keywords,original_language,original_title,overview,combined,tags
0,19995,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",en,Avatar,22nd century paraplegic marine dispatch moon ...,SamWorthington ZoeSaldana SigourneyWeaver Jame...,SamWorthington ZoeSaldana SigourneyWeaver Jame...

In [180]:
df2.iloc[0, 9]

'SamWorthington ZoeSaldana SigourneyWeaver JamesCameron Action Adventure Fantasy Science Fiction culture clash future space war space colony society space travel futuristic romance space alien tribe alien planet cgi marine soldier battle love affair anti war power relations mind and soul 3d 22nd century paraplegic marine dispatch moon pandora unique mission become torn follow order protect alien civilization'

In [181]:
df2['original_language'] = df2['original_language'].apply(insert_space_at_beginning)

In [182]:
df2['tags'] = df2['tags'] + df2['original_language']

In [183]:
df2.head(1)

,id,cast,director,genres,keywords,original_language,original_title,overview,combined,tags
0,19995,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",en,Avatar,22nd century paraplegic marine dispatch moon ...,SamWorthington ZoeSaldana SigourneyWeaver Jame...,SamWorthington ZoeSaldana SigourneyWeaver Jame...

In [184]:
df2.iloc[0, 9]

'SamWorthington ZoeSaldana SigourneyWeaver JamesCameron Action Adventure Fantasy Science Fiction culture clash future space war space colony society space travel futuristic romance space alien tribe alien planet cgi marine soldier battle love affair anti war power relations mind and soul 3d 22nd century paraplegic marine dispatch moon pandora unique mission become torn follow order protect alien civilization en'

In [185]:
movies = df2[['id', 'original_title', 'tags']]

In [186]:
movies.iloc[0,2]

'SamWorthington ZoeSaldana SigourneyWeaver JamesCameron Action Adventure Fantasy Science Fiction culture clash future space war space colony society space travel futuristic romance space alien tribe alien planet cgi marine soldier battle love affair anti war power relations mind and soul 3d 22nd century paraplegic marine dispatch moon pandora unique mission become torn follow order protect alien civilization en'

In [187]:
# movies['original_title'] = movies['original_title'].apply(remove_spaces_str)

In [188]:
# movies['original_title'] = movies['original_title'].apply(insert_space_at_beginning)

In [189]:
# movies['tags'] = movies['tags'] + movies['original_title']

In [190]:
movies.iloc[2, 2]

'DanielCraig ChristophWaltz LéaSeydoux SamMendes Action Adventure Crime spy based on novel secret agent sequel mi6 british secret service united kingdom cryptic message bond ’s past send trail uncover sinister organization battle political force keep secret service alive bond feel back layer deceit reveal terrible truth behind spectre en'

In [191]:
msg = movies.iloc[1, 2]

In [192]:
def remove_spaces_str(string):
    string = string.replace(' ', '')
    return string

In [193]:
msg

"JohnnyDepp OrlandoBloom KeiraKnightley GoreVerbinski Adventure Fantasy Action ocean drug abuse exotic island east india trading company love of one's life traitor shipwreck strong woman ship alliance calypso afterlife fighter pirate swashbuckler aftercreditsstinger captain barbossa long believe dead come back life head edge earth turner elizabeth swan nothing quite seem en"

In [194]:
movies.head(1)

      id original_title                                               tags
0  19995         Avatar  SamWorthington ZoeSaldana SigourneyWeaver Jame...

In [195]:
movies.iloc[1,2]

"JohnnyDepp OrlandoBloom KeiraKnightley GoreVerbinski Adventure Fantasy Action ocean drug abuse exotic island east india trading company love of one's life traitor shipwreck strong woman ship alliance calypso afterlife fighter pirate swashbuckler aftercreditsstinger captain barbossa long believe dead come back life head edge earth turner elizabeth swan nothing quite seem en"

In [196]:
# movies['original_title'] = movies['original_title'].apply(insert_space_at_beginning)

In [197]:
#Importing the DNN Model

In [198]:
!pip install gensim

Requirement already satisfied: gensim in /home/mist/anaconda3/lib/python3.10/site-packages (4.3.0)
Requirement already satisfied: smart-open>=1.8.1 in /home/mist/anaconda3/lib/python3.10/site-packages (from gensim) (5.2.1)
Requirement already satisfied: scipy>=1.7.0 in /home/mist/anaconda3/lib/python3.10/site-packages (from gensim) (1.10.0)
Requirement already satisfied: numpy>=1.18.5 in /home/mist/anaconda3/lib/python3.10/site-packages (from gensim) (1.23.5)
Requirement already satisfied: FuzzyTM>=0.4.0 in /home/mist/anaconda3/lib/python3.10/site-packages (from gensim) (2.0.5)
Requirement already satisfied: pandas in /home/mist/anaconda3/lib/python3.10/site-packages (from FuzzyTM>=0.4.0->gensim) (1.5.3)
Requirement already satisfied: pyfume in /home/mist/anaconda3/lib/python3.10/site-packages (from FuzzyTM>=0.4.0->gensim) (0.2.25)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/mist/anaconda3/lib/python3.10/site-packages (from pandas->FuzzyTM>=0.4.0->gensim) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/mist/anaconda3/lib/python3.10/site-packages (from pandas->FuzzyTM>=0.4.0->gensim) (2022.7)
Requirement already satisfied: simpful in /home/mist/anaconda3/lib/python3.10/site-packages (from pyfume->FuzzyTM>=0.4.0->gensim) (2.11.0)
Requirement already satisfied: fst-pso in /home/mist/anaconda3/lib/python3.10/site-packages (from pyfume->FuzzyTM>=0.4.0->gensim) (1.8.1)
Requirement already satisfied: six>=1.5 in /home/mist/anaconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas->FuzzyTM>=0.4.0->gensim) (1.16.0)
Requirement already satisfied: miniful in /home/mist/anaconda3/lib/python3.10/site-packages (from fst-pso->pyfume->FuzzyTM>=0.4.0->gensim) (0.0.6)

In [199]:
import gensim

In [200]:
from gensim.utils import simple_preprocess

In [201]:
msg = movies.iloc[1, 2]

In [202]:
msg

"JohnnyDepp OrlandoBloom KeiraKnightley GoreVerbinski Adventure Fantasy Action ocean drug abuse exotic island east india trading company love of one's life traitor shipwreck strong woman ship alliance calypso afterlife fighter pirate swashbuckler aftercreditsstinger captain barbossa long believe dead come back life head edge earth turner elizabeth swan nothing quite seem en"

In [203]:
msg = remove_punc(msg)

In [204]:
from nltk.tokenize import sent_tokenize, word_tokenize

In [205]:
doc1 = nlp(msg)

In [206]:
doc1

JohnnyDepp OrlandoBloom KeiraKnightley GoreVerbinski Adventure Fantasy Action ocean drug abuse exotic island east india trading company love of ones life traitor shipwreck strong woman ship alliance calypso afterlife fighter pirate swashbuckler aftercreditsstinger captain barbossa long believe dead come back life head edge earth turner elizabeth swan nothing quite seem en

In [207]:
#Removing punctuations from movie's titles

In [208]:
movies['tags'] = movies['tags'].apply(remove_punc)

In [209]:
# movies['tags'] = movies['tags'] + movies['original_title']

In [210]:
msg = movies.iloc[1, 2]

In [211]:
msg

'JohnnyDepp OrlandoBloom KeiraKnightley GoreVerbinski Adventure Fantasy Action ocean drug abuse exotic island east india trading company love of ones life traitor shipwreck strong woman ship alliance calypso afterlife fighter pirate swashbuckler aftercreditsstinger captain barbossa long believe dead come back life head edge earth turner elizabeth swan nothing quite seem en'

In [212]:
doc1 = sent_tokenize(msg)

In [213]:
ls = []
for word in doc1:
    ls.append(simple_preprocess(word))

In [214]:
ls

[['johnnydepp',
  'orlandobloom',
  'keiraknightley',
  'goreverbinski',
  'adventure',
  'fantasy',
  'action',
  'ocean',
  'drug',
  'abuse',
  'exotic',
  'island',
  'east',
  'india',
  'trading',
  'company',
  'love',
  'of',
  'ones',
  'life',
  'traitor',
  'shipwreck',
  'strong',
  'woman',
  'ship',
  'alliance',
  'calypso',
  'afterlife',
  'fighter',
  'pirate',
  'swashbuckler',
  'captain',
  'barbossa',
  'long',
  'believe',
  'dead',
  'come',
  'back',
  'life',
  'head',
  'edge',
  'earth',
  'turner',
  'elizabeth',
  'swan',
  'nothing',
  'quite',
  'seem',
  'en']]

In [215]:

def making_corpus(string):
    corpus = []
    # doc1 = sent_tokenize(string)
    # for word in doc1:
    #     corpus.append(simple_preprocess(word))
    corpus.append(string.split())

    return corpus

In [216]:
msg = movies.iloc[2, 2]

In [217]:
making_corpus(msg)

[['DanielCraig',
  'ChristophWaltz',
  'LéaSeydoux',
  'SamMendes',
  'Action',
  'Adventure',
  'Crime',
  'spy',
  'based',
  'on',
  'novel',
  'secret',
  'agent',
  'sequel',
  'mi6',
  'british',
  'secret',
  'service',
  'united',
  'kingdom',
  'cryptic',
  'message',
  'bond',
  '’s',
  'past',
  'send',
  'trail',
  'uncover',
  'sinister',
  'organization',
  'battle',
  'political',
  'force',
  'keep',
  'secret',
  'service',
  'alive',
  'bond',
  'feel',
  'back',
  'layer',
  'deceit',
  'reveal',
  'terrible',
  'truth',
  'behind',
  'spectre',
  'en']]

In [218]:
movies['tags'] = movies['tags'].apply(making_corpus)

In [219]:
movies['tags'].iloc[0]

[['SamWorthington',
  'ZoeSaldana',
  'SigourneyWeaver',
  'JamesCameron',
  'Action',
  'Adventure',
  'Fantasy',
  'Science',
  'Fiction',
  'culture',
  'clash',
  'future',
  'space',
  'war',
  'space',
  'colony',
  'society',
  'space',
  'travel',
  'futuristic',
  'romance',
  'space',
  'alien',
  'tribe',
  'alien',
  'planet',
  'cgi',
  'marine',
  'soldier',
  'battle',
  'love',
  'affair',
  'anti',
  'war',
  'power',
  'relations',
  'mind',
  'and',
  'soul',
  '3d',
  '22nd',
  'century',
  'paraplegic',
  'marine',
  'dispatch',
  'moon',
  'pandora',
  'unique',
  'mission',
  'become',
  'torn',
  'follow',
  'order',
  'protect',
  'alien',
  'civilization',
  'en']]

In [220]:
corpus = []

In [221]:
def corpus_formation(ls):
    corpus.append(ls)

In [222]:
movies['tags'] = movies['tags'].apply(corpus_formation)

In [223]:
from itertools import chain
flatten_corpus = list(chain.from_iterable(corpus))

In [224]:
for i in range(len(flatten_corpus)):
    if len(flatten_corpus[i]) == 0:
        print(i)

In [225]:
len(flatten_corpus)

4800

In [226]:
#Embeddings

In [227]:
#Google News Word2Vec
import gensim.downloader as api
# model2 = api.load('word2vec-google-news-300')

In [319]:
model = gensim.models.Word2Vec(window=10, min_count=3, workers=8, vector_size=300, alpha=0.025, sg=1, negative=10)

In [320]:
model.build_vocab(flatten_corpus)

In [321]:
model.train(flatten_corpus, total_examples=model.corpus_count, epochs=10)

(2082177, 2367310)

In [322]:
# model.wv.most_similar('Spectre')

In [323]:
embeddings = model.wv.get_normed_vectors()

In [324]:
# embeddings[0]

In [325]:
# model.wv.index_to_key

In [326]:
#Average Word2Vec for each tags

In [327]:
avg_embeddings = []

In [328]:
df2.head(1)

,id,cast,director,genres,keywords,original_language,original_title,overview,combined,tags
0,19995,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",en,Avatar,22nd century paraplegic marine dispatch moon ...,SamWorthington ZoeSaldana SigourneyWeaver Jame...,SamWorthington ZoeSaldana SigourneyWeaver Jame...

In [329]:
df2.iloc[0, 9]

'SamWorthington ZoeSaldana SigourneyWeaver JamesCameron Action Adventure Fantasy Science Fiction culture clash future space war space colony society space travel futuristic romance space alien tribe alien planet cgi marine soldier battle love affair anti war power relations mind and soul 3d 22nd century paraplegic marine dispatch moon pandora unique mission become torn follow order protect alien civilization en'

In [330]:
flatten_corpus[0][0]

'SamWorthington'

In [331]:
#Building vocabulary
vocabulary = set(model.wv.index_to_key)

In [332]:
final_embeddings = []
for i in flatten_corpus:   
    avg_embeddings = None
    for j in i:
        
        if j in vocabulary: 
            
            if avg_embeddings is None:
                avg_embeddings = model.wv[j]
            else:
                avg_embeddings = avg_embeddings + model.wv[j]
    if avg_embeddings is not None:
        avg_embeddings = avg_embeddings / len(avg_embeddings)
        final_embeddings.append(avg_embeddings)
# print(len(list(unique_words)))

In [333]:
ls = []
ls.append(model.wv[flatten_corpus[0][0]].tolist())
# from itertools import 
ls = list(chain.from_iterable(ls))

In [334]:
len(ls)

300

In [335]:
len(flatten_corpus[0])

57

In [336]:
len(flatten_corpus)

4800

In [337]:
movies.shape

(4800, 3)

In [338]:
len(final_embeddings)

4800

In [339]:
len(final_embeddings[0])

300

In [340]:
import math

In [341]:
def idx_of_movie_in_dataframe(string):
    idx = movies[movies['original_title'] == string].index.values
    idx = idx.tolist()[0]
    return idx

In [342]:
movies.head(10)

       id                            original_title  tags
0   19995                                    Avatar  None
1     285  Pirates of the Caribbean: At World's End  None
2  206647                                   Spectre  None
3   49026                     The Dark Knight Rises  None
4   49529                               John Carter  None
5     559                              Spider-Man 3  None
6   38757                                   Tangled  None
7   99861                   Avengers: Age of Ultron  None
8     767    Harry Potter and the Half-Blood Prince  None
9  209112        Batman v Superman: Dawn of Justice  None

In [371]:
idx = idx_of_movie_in_dataframe("Harry Potter and the Half-Blood Prince")

In [372]:
idx

8

In [373]:
final_embeddings[idx]

array([ 9.79570579e-03, -2.27692933e-03, -1.65908355e-02,  5.23868669e-03,
        2.19266079e-02, -1.81786977e-02, -3.49078723e-03,  2.64878850e-02,
        5.99610328e-04,  1.98759910e-04,  1.63615886e-02, -2.28481204e-03,
       -5.73139498e-03, -2.03842279e-02, -7.29128579e-03, -1.72671005e-02,
       -9.10088792e-03,  1.93245872e-03,  1.55104212e-02,  1.73062570e-02,
       -2.88364794e-02, -8.49149562e-03, -4.57825884e-03, -4.58493596e-03,
        1.29365120e-02, -3.01594078e-03, -9.11939982e-03, -1.09417224e-02,
       -2.71932199e-03, -2.06055213e-02,  8.12707748e-03, -7.01635610e-03,
       -1.62530541e-02, -8.86978488e-03,  2.08399557e-02,  1.21463183e-03,
        1.95008318e-03, -2.36074012e-02,  2.33937195e-03,  1.25314109e-02,
        1.38179827e-02, -8.09246674e-04, -1.52009912e-02, -1.18429689e-02,
       -9.60176624e-03, -9.83604323e-03, -2.94512836e-03,  2.09613666e-02,
        3.20675829e-03,  4.32560919e-03, -1.49215367e-02, -7.16768252e-03,
       -9.40555707e-03,  3.29327304e-03, -1.45589132e-02,  3.75516936e-02,
        1.63719729e-02, -1.57295503e-02,  1.11568384e-02,  3.23398449e-02,
        1.05743790e-02, -2.81944731e-03,  1.16680292e-02, -3.37390532e-03,
        9.13040899e-03,  5.02094952e-03, -2.85224128e-03,  1.79754440e-02,
       -1.81611497e-02, -5.09897061e-03, -2.01266296e-02,  8.79988261e-03,
        9.91141051e-03, -1.87987760e-02,  1.62756499e-02, -6.16724510e-03,
       -1.13580665e-02, -1.31973205e-02, -1.38254859e-03,  1.46627882e-02,
       -1.13389445e-02, -2.32005212e-02, -2.46953277e-04,  2.62771957e-02,
       -3.72940861e-03,  3.98702966e-03, -6.17434084e-03, -1.46969398e-02,
        3.79750691e-03, -7.23732729e-03,  9.17701749e-04, -9.67672269e-04,
        6.52213162e-03, -4.18986520e-03, -2.79307645e-03,  4.07476258e-03,
        3.49962595e-03,  1.00547187e-02, -2.49119233e-02, -1.10130096e-02,
        2.94196594e-04, -2.92827096e-02,  1.22777540e-02, -1.67816542e-02,
        1.21415015e-02, -1.40180346e-02,  2.19363235e-02,  4.01211856e-03,
       -1.48664159e-03,  4.94449306e-03,  8.86819512e-03, -1.70228519e-02,
        6.21818099e-03,  1.99132767e-02,  1.16573963e-02,  2.93319998e-03,
       -8.08676239e-03, -9.28736944e-03,  2.30415035e-02, -3.05616595e-02,
        4.46891319e-03,  7.87673984e-03, -1.65466275e-02, -1.13128312e-02,
        1.20560871e-02,  3.11864563e-03,  1.45609472e-02, -1.48886396e-02,
        8.36777221e-03, -1.74770039e-02, -2.18717158e-02, -5.67087904e-04,
        5.98270027e-03,  7.88407866e-04,  1.30511289e-02, -6.38233451e-03,
        1.60660818e-02,  1.90032064e-03, -1.85991041e-02, -1.73479915e-02,
       -7.80010456e-03, -1.10707032e-02, -2.67716255e-02,  2.14569867e-02,
        2.17266791e-02,  8.10971111e-03, -1.59714594e-02,  1.61564723e-02,
        3.13630770e-03,  2.67506647e-03,  1.07690338e-02, -1.35602169e-02,
       -7.10338587e-03,  6.43749395e-03, -6.03586389e-03,  9.88695584e-03,
       -1.22228563e-02, -1.33362403e-02,  6.05574902e-03,  2.64181830e-02,
        3.55841522e-03,  1.15989121e-02, -2.07098424e-02,  1.67496074e-02,
       -2.49493755e-02, -8.51276214e-04, -2.57765409e-02,  2.29821866e-03,
        1.72453141e-03,  2.63903625e-02,  6.66081486e-03,  5.01086333e-06,
        2.82129757e-02, -8.80578067e-03, -1.38099082e-02, -1.67699344e-02,
        2.19616503e-03, -2.64363121e-02, -2.82210000e-02,  4.81416332e-03,
       -4.94143227e-03, -6.29501475e-04, -1.35289161e-02, -7.24957138e-03,
       -1.15680648e-03,  1.37626650e-02,  1.07790502e-02,  2.91079767e-02,
       -6.27583172e-03,  8.08738265e-03, -8.67438596e-03,  1.56816728e-02,
       -2.28227787e-02,  2.65825279e-02,  2.85108797e-02, -1.55226821e-02,
        7.84930773e-03, -2.94329263e-02,  2.00881101e-02, -6.74605928e-03,
       -1.20458649e-02,  1.08730774e-02,  5.13447309e-03, -5.34061668e-03,
       -6.39274251e-03,  3.04601761e-03, -1.26587609e-02,  1.68008003e-02,
        5.56651456e-03, -1.21605617e-03, -3.95793421e-03, -1.08300392e-02,
        1.06540043e-02, -8.44481401e-04,  1.33850146e-02, -4.12154151e-03,
        1.23514831e-02, -1.24492729e-02, -1.31107960e-02,  1.43135388e-04,
        1.01646855e-02,  1.01728132e-02, -3.79120559e-02,  5.27357624e-04,
        1.10030314e-02,  8.04922427e-04,  3.55178001e-03, -2.08347347e-02,
       -2.45747585e-02, -1.07804416e-02,  1.49259949e-02,  5.03907865e-03,
       -1.18974233e-02,  6.07229490e-03, -5.80145745e-03, -6.86364109e-03,
       -9.29995382e-04, -5.15275809e-04,  5.30699966e-03, -1.97593104e-02,
       -4.42119222e-03, -7.75247579e-03,  3.54781398e-04, -3.55092197e-04,
        3.61393928e-03, -6.87110657e-03,  6.11756230e-03,  2.81826966e-03,
        6.96936436e-03,  5.03401505e-03,  7.38656987e-03,  1.20478636e-02,
       -2.37586355e-05, -2.26649386e-03,  2.13023950e-03,  5.34717273e-03,
       -1.27832231e-03,  1.99495386e-02, -1.95013881e-02, -8.86510313e-03,
        1.25235161e-02,  2.59194952e-02, -1.00351628e-02,  5.55347977e-03,
       -1.72497667e-02,  4.92244773e-03, -4.01804782e-03,  1.56453606e-02,
        1.35249468e-02, -3.57590127e-03,  7.70108216e-03,  8.76631308e-03,
        1.04773259e-02, -5.26701752e-03,  3.47455926e-02,  6.97525917e-03,
        3.58383957e-04,  1.62115153e-02, -5.89381764e-03, -2.06753612e-03,
        4.23947489e-03, -1.31299589e-02, -4.92690189e-04,  1.45067293e-02,
       -3.29500786e-03, -7.87046272e-03, -1.43299196e-02, -1.32174697e-02,
        1.75029095e-02,  1.09540951e-02,  7.62040541e-03,  1.46732777e-02,
        2.91745886e-02, -6.14241557e-03, -1.46867882e-03,  7.83080328e-03,
        1.32360058e-02,  7.12774694e-03,  7.33793247e-03,  7.79564399e-03],
      dtype=float32)

In [374]:
#Cosine Similarity

In [375]:
from sklearn.metrics.pairwise import cosine_similarity

In [376]:
movies.shape

(4800, 3)

In [377]:
cosine_similarity(final_embeddings[idx].reshape(1, -1), final_embeddings)

array([[0.8033472 , 0.8502341 , 0.78954184, ..., 0.8233028 , 0.7789885 ,
        0.82038546]], dtype=float32)

In [378]:
len(cosine_similarity(final_embeddings[idx].reshape(1, -1), final_embeddings)[0])

4800

In [379]:
#Getting the top five movies from the inputted movie

In [380]:
# movies.reset_index(inplace=True, drop=True)

In [381]:
movies.head(20)

        id                               original_title  tags
0    19995                                       Avatar  None
1      285     Pirates of the Caribbean: At World's End  None
2   206647                                      Spectre  None
3    49026                        The Dark Knight Rises  None
4    49529                                  John Carter  None
5      559                                 Spider-Man 3  None
6    38757                                      Tangled  None
7    99861                      Avengers: Age of Ultron  None
8      767       Harry Potter and the Half-Blood Prince  None
9   209112           Batman v Superman: Dawn of Justice  None
10    1452                             Superman Returns  None
11   10764                            Quantum of Solace  None
12      58   Pirates of the Caribbean: Dead Man's Chest  None
13   57201                              The Lone Ranger  None
14   49521                                 Man of Steel  None
15    2454     The Chronicles of Narnia: Prince Caspian  None
16   24428                                 The Avengers  None
17    1865  Pirates of the Caribbean: On Stranger Tides  None
18   41154                               Men in Black 3  None
19  122917    The Hobbit: The Battle of the Five Armies  None

In [388]:
def recommend_movie(index):
    similarity = []
    similarity = cosine_similarity(final_embeddings[index].reshape(1, -1), final_embeddings)[0]
    # similarity = sorted(similarity, reverse=True)
    # similarity = similarity[1:]
    # print(similarity)
    movie_indexes = list(enumerate(similarity))
    # movie_indexes = movie_indexes[:-1]
    movie_indexes.sort(key = lambda x: x[1], reverse=True)
    # print(movie_indexes)
    movie_indexes = movie_indexes[1:6]
    print(movie_indexes)
    for i in movie_indexes:
        print(movies.iloc[i[0], 1])

In [389]:
idx

8

In [390]:
recommend_movie(idx)

[(114, 0.9570665), (191, 0.9570004), (197, 0.9544582), (276, 0.95070034), (113, 0.95051503)]
Harry Potter and the Goblet of Fire
Harry Potter and the Prisoner of Azkaban
Harry Potter and the Philosopher's Stone
Harry Potter and the Chamber of Secrets
Harry Potter and the Order of the Phoenix